//購物車彈跳窗
.added-shopping-car{
    position: relative;
    .ol-contentShop{
        padding: 20px 32px ;
        background: $white;
        border-radius: $br_12;
        position:fixed;
        top: 100px;
        right: 10px;
        box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.2);
        opacity: 0;
        z-index: 9999;
        @include flex($jc:flex-start);
        gap: 10px;
        transition: opacity 1s ease-in-out;
        .ol-title{
            @include flex($jc: space-between);
        }
        .ol-contentBox{
            border-bottom: 1px solid $gray_1;
            .ol-info{
                @include flex($jc: space-between)
            }
        }

    }
    .checkout{
        @include flex($jc: space-between);
        p{
            font-size: 14px;
        }
        span{
            font-weight: bold;
        }
        .btn_4_border{
            background-color: $purple;
            color: $white;
            font-weight: bold;
            padding: 12px 20px;
        }
    }
    // .ol-content::before{
    //     content: "";
    //     position: absolute;
    //     top: 20px;
    //     right: 34px;
    //     border-left: 24px solid transparent;
    //     border-right: 24px solid transparent;
    //     border-bottom: 20px solid white;
    //     box-shadow: rgba(255,255,255,0.3);
    //     z-index: 1;
    // }
}