body {
  font-family: $fontfamily;
  font-size: $fontsize;
  line-height: $line_height;
  color: $black;
}
.wrapper {
  padding-top: 88px;
  @include layout(100);
  @import "header";
  @import "login";
  @import "footer";
  @media (max-width: 1000px) {
    padding-top: 76px;
  }
}

.container {
  // width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
