body {
  font-family: $fontfamily;
  font-size: $fontsize;
  line-height: $line_height;
  color: $black;
}
.wrapper {
  @include layout(100);
  @import "header";
  @import "login";
  @import "footer";
}

.container {
  // width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
