body{
  font-family: $fontsize;
  line-height: $line_height;
  color: $black;
  
}
.wrapper {
  @include layout(100);
  @import 'header';
  @import 'footer';
  @import 'ad';
}

.container {
  // width: 1200px;
  max-width: 1200px;

}