.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 9990 !important; //別拿掉 driver會爆
  @include flex();
  font-weight: normal;
  font-family: "Noto Sans TC", "poppins";
  font-size: 16px;
}

.loginpage_base {
  width: 500px;
  position: fixed;
  top: 90px;
  z-index: 11;
  // transform: translateY(-20%);
  padding: 0 20px;
  @media (max-width: 500px) {
    width: 100%;
  }

  .close {
    width: 100%;
    height: 40px;
    color: $white;
    cursor: pointer;
    display: flex;
    justify-content: end;
    // .icon {
    //   float: right;
    // }
  }
  .loginPage {
    width: 100%;
    background-color: $white;
    border-radius: $br_12;
    padding: 30px;
    color: $black;
    position: relative;
    .pageIsideContainer {
      @include flex(column);
      gap: 24px;
      form {
        width: 100%;
        label {
          display: block;
          margin-bottom: 4px;
          font-weight: 500;
        }
        a {
          display: block;
          text-align: right;
          cursor: pointer;
          color: $textColor_m;
        }
        .noMb24 {
          margin-bottom: 4px;
        }
      }
      .textColor_m-font {
        text-align: justify;
      }

      .loginType {
        width: 100%;
        height: 48px;
        padding: 0 12px;
        border-radius: $br_8;
        border: 1px solid $gray_1;
        margin-bottom: 24px;
      }
      ::placeholder {
        color: $textColor_l;
      }
    }
    .btn_5 {
      width: 100%;
      border: 0;
    }

    @media (max-width: 500px) {
      padding: 20px;
      .pageIsideContainer {
        gap: 20px;
        .loginType {
          margin-bottom: 20px;
        }
        form a {
          margin-bottom: 20px;
        }
      }
    }
  }
  .register {
    @include flex();
    gap: 12px;
    font-weight: 500;
    span {
      cursor: pointer;
      box-shadow: 0 1px;
    }
  }
  .otherTypeToLogin {
    font-size: 14px;
    font-weight: 500;
    p {
      position: relative;
      &::before {
        content: "";
        width: 154%;
        height: 1px;
        position: absolute;
        background: $gray_1;
        top: 50%;
        margin-left: -10px;
        transform: translateX(-100%);
      }
      &::after {
        content: "";
        width: 154%;
        height: 1px;
        position: absolute;
        background: $gray_1;
        top: 50%;
        margin-left: 10px;
      }
      @media (max-width: 500px) {
        &::before {
          width: 110%;
        }
        &::after {
          width: 110%;
        }
      }
    }
  }
  .otherIcon {
    display: flex;
    gap: 20px;
    a {
      @include flex();
      border: 1px solid $gray_1;
      border-radius: $br_8;
      width: 48px;
      height: 48px;
    }
  }
  .succPag {
    padding: 60px 40px;
  }
}
/* 照片牆的燈箱 */

.waterFallStyle {
  padding: 0 !important;
  overflow: hidden;
  max-height: 700px;
  div {
    img {
      width: 100%;
    }
  }
}

.login123 {
  display: none;
}

// Vue 動畫部分
//X軸滑動
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  // transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(500px);
  opacity: 0;
}
//Y軸滑動
.slide-fadeY-enter-active {
  transition: all 0.3s ease-in-out;
}

.slide-fadeY-leave-active {
  // transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fadeY-enter-from,
.slide-fadeY-leave-to {
  transform: translateY(200px);
  opacity: 0;
}

/* 定義彈窗進入動畫 */
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 定義彈窗離開動畫 */
@keyframes slideOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* 在進入時應用彈窗進入動畫 */
.modal-enter-active {
  animation: slideIn 0.2s ease-out both;
}

/* 在離開時應用彈窗離開動畫 */
.modal-leave-active {
  animation: slideOut 0.2s ease-out both;
}

.memberIcon {
  @media (max-width: 768px) {
    display: none;
  }
}