<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    @@include('layout/meta.html')
    <link rel="stylesheet" href="./css/style.css" />
    <title>GO旅宿 | PetpaGo</title>
  </head>

  <body>
    <div class="wrapper hostel">
      @@include('layout/header.html')
      <!-- Banner -->
      <picture>
        <source
          media="(max-width:414px )"
          srcset="images/banner/hostel/m375-hostel.svg"
        />
        <source
          media="(max-width:768px )"
          srcset="images/banner/hostel/p768-hostel.svg"
        />
        <img src="images/banner/hostel/big_hostel_banner.svg" alt="" />
      </picture>

      <!---------------- search bar star ---------------->
      <div class="hostel_headBox">
        <div class="container">
          <h2 class="hostel_title">最貼心的寵物住宿</h2>
          <div class="search_hotel mb_100">
            <div class="threeInput" id="select_pet">
              <div class="search-box col-4">
                <label for="">
                  <span>住宿地點或住宿名稱</span>
                  <input type="text" placeholder="城市／地區／住宿名稱" />
                </label>
              </div>
              <div class="search-box col-4">
                <label for="">
                  <span>入住＆退房日期</span>
                  <!-- <input type="date" /> -->
                  <DatePicker
                  v-model="date"
                  range
                  max-range="7"
                  :format="format"
                  calendar-cell-class-name="dp-custom-cell"
                  time-picker-inline
                  week-start="0"
                  :is-24="true"
                  :min-date="disabledDates"
                  :auto-position="false"
                  :enable-time-picker="false"
                >
                </DatePicker>
                <!-- <DatePicker
                    v-model="date"
                    calendar-cell-class-name="dp-custom-cell"
                    time-picker-inline
                    week-start="0"
                    :is-24="true"
                    :format="format"
                    :min-date="disabledDates"
                  >
                  </DatePicker> -->

                </label>
              </div>
              <!--  -->
              <div class="search-box dropDownParent col-4">
                <div @click="isPop = !isPop">
                  <label for="">
                    <span>寵物類型</span>
                    <!-- <input type="text" placeholder="請選擇" /> -->
                  </label>
                  <p>
                    <span v-show="numDog > 0">{{ numDog }}隻狗</span>
                    <span v-show="numDog > 0 && numCat > 0">,</span>
                    <span v-show="numCat > 0">{{ numCat}}隻貓</span>
                  </p>
                </div>
                <div class="dropDown" v-show="isPop === true">
                  <div class="dropDownItem">
                    <p>狗</p>
                    <div class="dropDownItem col-5">
                      <button
                        type="button"
                        class="minus"
                        @click="toChange('numDog', -1)"
                      >
                        -
                      </button>
                      <span>{{ numDog }}</span>
                      <button
                        type="button"
                        class="plus"
                        @click="toChange('numDog', 1)"
                      >
                        +
                      </button>
                    </div>
                  </div>
                  <div class="line"></div>
                  <div class="dropDownItem">
                    <p>貓</p>
                    <div class="dropDownItem col-5">
                      <button
                        type="button"
                        class="minus"
                        @click="toChange('numCat', -1)"
                      >
                        -
                      </button>
                      <span>{{ numCat }}</span>
                      <button
                        type="button"
                        class="plus"
                        @click="toChange('numCat', +1)"
                      >
                        +
                      </button>
                    </div>
                  </div>
                </div>
              </div>            </div>
            <button class="btn_7" type="button" id="searchButton">
              立即搜尋
            </button>
          </div>
        </div>
      </div>

      <!---------------- main 精選寵物旅宿 star ---------------->
      <main class="hotel-booking mb_100">
        <div class="top3 container">
          <!-- <div class="hotel-bookingRoom col-lg-11"> -->
          <h5>9間狗貓共住旅館在台北</h5>
          <div class="top3_box">
            <!-- 1 -->
            <div class="card">
              <div class="card_image">
                <img
                  src="./images/pic/hostel/hostel page2/hostel-pic1.png"
                  alt="快樂寵物旅館"
                />
              </div>
              <div class="card_content jcsb">
                <h6>快樂寵物旅館</h6>
                <span class="jcsb">
                  <img
                    src="./images/icon/hostel icon/location.svg"
                    alt=""
                  />板橋區</span
                >
              </div>
              <div class="card_price jcsb">
                <p>NT$ <span>1,750</span>起</p>
                <div class="star jcsb">
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <span>(10)</span>
                </div>
              </div>
            </div>
            <!-- 2 -->
            <div class="card">
              <div class="card_image">
                <img
                  src="./images/pic/hostel/hostel page2/hostel-pic2.png"
                  alt="快樂寵物旅館"
                />
              </div>
              <div class="card_content jcsb">
                <h6>毛起來住</h6>
                <span class="jcsb">
                  <img
                    src="./images/icon/hostel icon/location.svg"
                    alt=""
                  />中山區</span
                >
              </div>
              <div class="card_price jcsb">
                <p>NT$ <span>650</span>起</p>
                <div class="star jcsb">
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <span>(10)</span>
                </div>
              </div>
            </div>
            <!-- 3 -->
            <div class="card">
              <div class="card_image">
                <img
                  src="./images/pic/hostel/hostel page2/hostel-pic3.png"
                  alt="快樂寵物旅館"
                />
              </div>
              <div class="card_content jcsb">
                <h6>汪堡</h6>
                <span class="jcsb">
                  <img
                    src="./images/icon/hostel icon/location.svg"
                    alt=""
                  />信義區</span
                >
              </div>
              <div class="card_price jcsb">
                <p>NT$ <span>1,250</span>起</p>
                <div class="star jcsb">
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <span>(10)</span>
                </div>
              </div>
            </div>
            <!-- 4 -->
            <div class="card">
              <div class="card_image">
                <img
                  src="./images/pic/hostel/hostel page2/hostel-pic4.png"
                  alt="快樂寵物旅館"
                />
              </div>
              <div class="card_content jcsb">
                <h6>快樂寵物旅館</h6>
                <span class="jcsb">
                  <img
                    src="./images/icon/hostel icon/location.svg"
                    alt=""
                  />板橋區</span
                >
              </div>
              <div class="card_price jcsb">
                <p>NT$ <span>1,750</span>起</p>
                <div class="star jcsb">
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <span>(10)</span>
                </div>
              </div>
            </div>
            <!-- 5 -->
            <div class="card">
              <div class="card_image">
                <img
                  src="./images/pic/hostel/hostel page2/hostel-pic5.png"
                  alt="快樂寵物旅館"
                />
              </div>
              <div class="card_content jcsb">
                <h6>毛起來住</h6>
                <span class="jcsb">
                  <img
                    src="./images/icon/hostel icon/location.svg"
                    alt=""
                  />中山區</span
                >
              </div>
              <div class="card_price jcsb">
                <p>NT$ <span>650</span>起</p>
                <div class="star jcsb">
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <span>(10)</span>
                </div>
              </div>
            </div>
            <!-- 6 -->
            <div class="card">
              <div class="card_image">
                <img
                  src="./images/pic/hostel/hostel page2/hostel-pic6.png"
                  alt="快樂寵物旅館"
                />
              </div>
              <div class="card_content jcsb">
                <h6>汪堡</h6>
                <span class="jcsb">
                  <img
                    src="./images/icon/hostel icon/location.svg"
                    alt=""
                  />信義區</span
                >
              </div>
              <div class="card_price jcsb">
                <p>NT$ <span>1,250</span>起</p>
                <div class="star jcsb">
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <span>(10)</span>
                </div>
              </div>
            </div>
            <!-- 7 -->
            <div class="card">
              <div class="card_image">
                <img
                  src="./images/pic/hostel/hostel page2/hostel-pic7.png"
                  alt="快樂寵物旅館"
                />
              </div>
              <div class="card_content jcsb">
                <h6>毛起來住</h6>
                <span class="jcsb">
                  <img
                    src="./images/icon/hostel icon/location.svg"
                    alt=""
                  />板橋區</span
                >
              </div>
              <div class="card_price jcsb">
                <p>NT$ <span>650</span>起</p>
                <div class="star jcsb">
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <span>(10)</span>
                </div>
              </div>
            </div>
            <!-- 8 -->
            <div class="card">
              <div class="card_image">
                <img
                  src="./images/pic/hostel/hostel page2/hostel-pic8.png"
                  alt="快樂寵物旅館"
                />
              </div>
              <div class="card_content jcsb">
                <h6>快樂寵物旅館</h6>
                <span class="jcsb">
                  <img
                    src="./images/icon/hostel icon/location.svg"
                    alt=""
                  />中山區</span
                >
              </div>
              <div class="card_price jcsb">
                <p>NT$ <span>1,250</span>起</p>
                <div class="star jcsb">
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <span>(10)</span>
                </div>
              </div>
            </div>
            <!-- 9 -->
            <div class="card">
              <div class="card_image">
                <img
                  src="./images/pic/hostel/hostel page2/hostel-pic9.png"
                  alt="快樂寵物旅館"
                />
              </div>
              <div class="card_content jcsb">
                <h6>汪堡</h6>
                <span class="jcsb">
                  <img
                    src="./images/icon/hostel icon/location.svg"
                    alt=""
                  />信義區</span
                >
              </div>
              <div class="card_price jcsb">
                <p>NT$ <span>1,750</span>起</p>
                <div class="star jcsb">
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <img
                    src="./images/icon/components-icon/star.svg"
                    alt="star"
                  />
                  <span>(10)</span>
                </div>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>
      </main>

      @@include('layout/footer.html')
    </div>
    <script src="/js/vue-datepicker.iife.js"></script>

    <script>
      const select_pet = Vue.createApp({
        data() {
          return {
            isPop: false,
            numCat: 1,
            numDog: 1,
            date: null,
            format: `MM月 dd日`
          };
        },
        computed: {
          disabledDates() {
            let today = new Date();
            let disabledtoday = new Date(today);
            disabledtoday.setDate(disabledtoday.getDate() + 1);

            return disabledtoday;
          },
          hoursArray() {
            const arr = [];
            for (let i = 0; i < 24; i++) {
              arr.push({ text: i < 10 ? `0${i}` : i, value: i });
            }
            return arr;
          },
          minutesArray() {
            const arr = [];
            for (let i = 0; i < 60; i++) {
              arr.push({ text: i < 10 ? `0${i}` : i, value: i });
            }
            return arr;
          },
        },
        methods: {
          toChange(property, value) {
            if (value > 0 || (value < 0 && this[property] > 0)) {
              this[property] += value;
            }
          },
        },
      });
      select_pet.component("Datepicker", VueDatePicker);

      const vm233 = select_pet.mount("#select_pet");

      document
        .getElementById("searchButton")
        .addEventListener("click", function () {
          window.location.href = "hostel-booking_detail.html";
        });
      </script>
  </body>
</html>
