<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    @@include('layout/meta.html')
    <link rel="stylesheet" href="sass/plugin/_SwiperCarousel.scss" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>GO旅宿 | PetpaGo</title>
  </head>

  <body>
    <div class="wrapper hostel">
      @@include('layout/header.html')

      <!---------------- search bar star ---------------->
      <div class="d_search-out mb_60">
        <form
          class="search_hotel searchBar_p3"
          action="./shopping.html"
          method="get"
        >
          <div class="threeInput" id="select_pet">
            <div class="search-box col-4 onDis768">
              <label for="">
                <span>住宿地點或住宿名稱</span>
                <input
                  type="text"
                  placeholder="城市／地區／住宿名稱"
                  v-model="location"
                  name="city"
                />
              </label>
            </div>
            <div class="search-box col-4 onFat768">
              <label for="">
                <span>入住＆退房日期</span>
                <!-- <input type="date" /> -->
                <DatePicker
                  v-model="date"
                  range
                  max-range="7"
                  :format="format"
                  calendar-cell-class-name="dp-custom-cell"
                  time-picker-inline
                  week-start="0"
                  :is-24="true"
                  :min-date="disabledDates"
                  :auto-position="false"
                  :enable-time-picker="false"
                  name="getDate"
                >
                </DatePicker>
              </label>
            </div>
            <div
              class="search-box dropDownParent col-4 onFat768"
              :class="{'-show' : start === true}"
            >
              <div @click="isPop = !isPop">
                <label for="">
                  <span>寵物類型</span>
                  <!-- <input type="text" placeholder="請選擇" /> -->
                </label>
                <p>
                  <span v-show="numDog > 0">{{ numDog }}隻狗</span>
                  <span v-show="numDog > 0 && numCat > 0">，</span>
                  <span v-show="numCat > 0">{{ numCat}}隻貓</span>
                </p>
              </div>
              <div class="dropDown" v-show="isPop === true">
                <div class="dropDownItem">
                  <p>狗</p>
                  <div class="dropDownItem col-4">
                    <button
                      type="button"
                      class="minus"
                      @click="toChange('numDog', -1)"
                      :class="{'limit': numDog === 0}"
                    >
                      -
                    </button>
                    <span>{{ numDog }}</span>
                    <button
                      type="button"
                      class="plus"
                      @click="toChange('numDog', 1)"
                      :class="{'limit': numDog === 9}"
                    >
                      +
                    </button>
                  </div>
                </div>
                <div class="line"></div>
                <div class="dropDownItem">
                  <p>貓</p>
                  <div class="dropDownItem col-4">
                    <button
                      type="button"
                      class="minus"
                      @click="toChange('numCat', -1)"
                      :class="{'limit': numCat === 0}"
                    >
                      -
                    </button>
                    <span>{{ numCat }}</span>
                    <button
                      type="button"
                      class="plus"
                      @click="toChange('numCat', +1)"
                      :class="{'limit': numCat === 9}"
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn_7 onDis768" type="button" id="searchButton">
            更新
          </button>
        </form>
      </div>

      <!------ 輪播圖 ------>
      <div class="container">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper mb_60">
            <div class="swiper-slide">
              <img
                src="./images/pic/hostel/hostel page3/hostel-carousel-02.png"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="./images/pic/hostel/hostel page3/hostel-carousel-03.png"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="./images/pic/hostel/hostel page3/hostel-carousel-04.png"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="./images/pic/hostel/hostel page3/hostel-carousel-05.png"
                alt=""
              />
            </div>
            <div class="swiper-slide">
              <img
                src="./images/pic/hostel/hostel page3/hostel-carousel-01.png"
                alt=""
              />
            </div>
          </div>

          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <!---------------- main 旅宿資訊 star ---------------->
      <main class="hostel_content">
        <div class="container">
          <!-- 旅宿名 section -->
          <section class="hostel-info">
            <div class="name">
              <h3>快樂寵物旅館</h3>
              <div class="star">
                <img src="./images/icon/components-icon/star.svg" alt="star" />
                <img src="./images/icon/components-icon/star.svg" alt="star" />
                <img src="./images/icon/components-icon/star.svg" alt="star" />
                <img src="./images/icon/components-icon/star.svg" alt="star" />
                <img src="./images/icon/components-icon/star.svg" alt="star" />
              </div>
            </div>
            <div class="address">
              <img
                src="./images/icon/hostel-icon/location.svg"
                alt="location"
              />
              <p>台北市中山區南京東路三段219號5樓</p>
            </div>
            <div class="info">
              <p>
                入住完美住宿，是給每個外出毛寶貝的必備要素。採用「單一放風」制度，讓每個毛小孩都能安全、盡興地玩耍，開開心心地回家。
              </p>
            </div>
          </section>

          <!-- 重點設施 section-->
          <section class="hostel-system">
            <div class="system_txt">
              <h4>重點設施</h4>
            </div>
            <div class="system_outline">
              <div class="icon_box">
                <div class="system_icon">
                  <div class="icon">
                    <img
                      src="./images/icon/hostel-icon/room-clean.svg"
                      alt="room-clean"
                    />
                  </div>
                  <p>優良衛生</p>
                </div>
                <div class="system_icon">
                  <div class="icon">
                    <img
                      src="./images/icon/hostel-icon/room-air.svg"
                      alt="room-air"
                    />
                  </div>
                  <p>全室空調</p>
                </div>
                <div class="system_icon">
                  <div class="icon">
                    <img
                      src="./images/icon/hostel-icon/room-video.svg"
                      alt="room-video"
                    />
                  </div>
                  <p>互動攝影機</p>
                </div>
                <div class="system_icon">
                  <div class="icon">
                    <img
                      src="./images/icon/hostel-icon/room-wet.svg"
                      alt="room-wet"
                    />
                  </div>
                  <p>溼度控制</p>
                </div>
                <div class="system_icon">
                  <div class="icon">
                    <img src="./images/icon/hostel-icon/room-3m.svg" alt="" />
                  </div>
                  <p>3M濾水器</p>
                </div>
              </div>
            </div>
          </section>

          <!--  住宿選擇 section -->
          <section class="hostel-list" id="htApp">
            <h4>住宿選擇</h4>
            <!-- dog room -->
            <div class="allRoom mb_32">
              <h5>狗套房</h5>
              <div class="allRoom_box">
                <div class="room-left">
                  <img
                    src="./images/pic/hostel/hostel page3/dog-room.png"
                    alt="pic"
                  />
                </div>
                <div class="room-right col-7 col-lg-12">
                  <div class="info-top">
                    <div class="it-left col-6">
                      <p class="i-title">房型介紹</p>
                      <p>寬150cm X 高100cm X 深90cm</p>
                      <p>
                        為了充份保護每個狗寶貝，採用「單一放風」制度，讓每個毛小孩都能安全、盡興地玩耍，不用擔心被其他狗寶貝欺負。
                      </p>
                      <p class="i-memo">
                        <img
                          src="./images/icon/hostel-icon/notes.svg"
                          alt=""
                        />僅可1隻狗入住。
                      </p>
                    </div>
                    <div class="it-right col-6">
                      <p class="i-title">狗狗體型</p>
                      <form action="" class="checkBox">
                        <div class="radioBox">
                          <input
                            type="radio"
                            class="radio-input"
                            id="sm"
                            name="dog"
                            checked
                          />
                          <label for="sm" class="radio-label"
                            ><span class="radio-button"></span>小型犬
                            (<10kg)</label
                          >
                        </div>
                        <div class="radioBox">
                          <input
                            type="radio"
                            class="radio-input"
                            id="md"
                            name="dog"
                          />
                          <label for="md" class="radio-label"
                            ><span class="radio-button"></span>中型犬
                            (10kg-20kg)</label
                          >
                        </div>
                        <div class="radioBox">
                          <input
                            type="radio"
                            class="radio-input"
                            id="lg"
                            name="dog"
                          />
                          <label for="lg" class="radio-label"
                            ><span class="radio-button"></span>大型犬
                            (>20kg)</label
                          >
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="info_bottom">
                    <div class="spSubtotal">
                      <div class="spStepper">
                        <div class="add">
                          <!-- <div class="spSubtotal_icon"> -->
                          <div
                            class="spSubtotal_icon"
                            @click="updateAmount(P1,-1)"
                            :class="{ 'limit': P1.BuyNum === 0 }"
                          >
                            <!-- <img src="images/icon/components-icon/minus.svg" /> -->
                            <svg
                              width="11"
                              height="3"
                              viewBox="0 0 11 3"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M10.3125 0.875H0.6875C0.441406 0.875 0.25 1.09375 0.25 1.3125V2.1875C0.25 2.43359 0.441406 2.625 0.6875 2.625H10.3125C10.5312 2.625 10.75 2.43359 10.75 2.1875V1.3125C10.75 1.09375 10.5312 0.875 10.3125 0.875Z"
                                fill="#E6E6E6"
                              />
                            </svg>
                          </div>
                          <!-- <input type="text" value="1" /> -->
                          <input
                            type="number"
                            v-model="P1.BuyNum"
                            @input="handleInput(P1)"
                          />
                          <!-- <div class="spSubtotal_icon"> -->
                          <div
                            class="spSubtotal_icon"
                            @click="updateAmount(P1,1)"
                            :class="{ 'limit': P1.BuyNum === 9 }"
                          >
                            <!-- <img src="images/icon/components-icon/add.svg" /> -->
                            <svg
                              width="11"
                              height="11"
                              viewBox="0 0 11 11"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M10.3125 4.875H6.375V0.9375C6.375 0.71875 6.15625 0.5 5.9375 0.5H5.0625C4.81641 0.5 4.625 0.71875 4.625 0.9375V4.875H0.6875C0.441406 4.875 0.25 5.09375 0.25 5.3125V6.1875C0.25 6.43359 0.441406 6.625 0.6875 6.625H4.625V10.5625C4.625 10.8086 4.81641 11 5.0625 11H5.9375C6.15625 11 6.375 10.8086 6.375 10.5625V6.625H10.3125C10.5312 6.625 10.75 6.43359 10.75 6.1875V5.3125C10.75 5.09375 10.5312 4.875 10.3125 4.875Z"
                                fill="#5E5E5E"
                              />
                            </svg>
                          </div>
                        </div>
                        <h5>
                          NT${{ updateSubtotal(P1).toLocaleString('en-US') }}
                        </h5>
                      </div>
                      <div class="suButton col-6">
                        <input
                          class="btn_5_border col-6 addCart"
                          type="submit"
                          value="加入購物車"
                        />
                        <input
                          class="btn_5 col-6"
                          type="submit"
                          value="立即預定"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- cat room -->
            <div class="allRoom">
              <h5>貓套房</h5>
              <div class="allRoom_box">
                <div class="room-left">
                  <img
                    src="./images/pic/hostel/hostel page3/cat-room.png"
                    alt="pic"
                  />
                </div>
                <div class="room-right col-7 col-lg-12">
                  <div class="info-top">
                    <div class="it-left">
                      <p class="i-title">房型介紹</p>
                      <p>寬116cm X 高215cm X 深130cm</p>
                      <p>
                        每間房都設有一座以上的貓跳台，讓貓咪享受足夠的活動空間以及安心的躲藏空間，部分房型還有景觀窗戶，讓貓咪享受居高臨下的優雅閑適。
                      </p>
                      <p class="i-memo">
                        <img
                          src="./images/icon/hostel-icon/notes.svg"
                          alt=""
                        />僅可1隻貓入住。
                      </p>
                    </div>
                  </div>
                  <div class="info_bottom">
                    <div class="spSubtotal">
                      <div class="spStepper">
                        <div class="add">
                          <!-- <div class="spSubtotal_icon"> -->
                          <div
                            class="spSubtotal_icon"
                            @click="updateAmount(P2,-1)"
                            :class="{ 'limit': P2.BuyNum === 0 }"
                          >
                            <!-- <img src="images/icon/components-icon/minus.svg" /> -->
                            <svg
                              width="11"
                              height="3"
                              viewBox="0 0 11 3"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M10.3125 0.875H0.6875C0.441406 0.875 0.25 1.09375 0.25 1.3125V2.1875C0.25 2.43359 0.441406 2.625 0.6875 2.625H10.3125C10.5312 2.625 10.75 2.43359 10.75 2.1875V1.3125C10.75 1.09375 10.5312 0.875 10.3125 0.875Z"
                                fill="#E6E6E6"
                              />
                            </svg>
                          </div>
                          <!-- <input type="text" value="1" /> -->
                          <input
                            type="number"
                            v-model="P2.BuyNum"
                            @input="handleInput(P2)"
                          />

                          <!-- <div class="spSubtotal_icon"> -->
                          <div
                            class="spSubtotal_icon"
                            @click="updateAmount(P2,1)"
                            :class="{ 'limit': P2.BuyNum === 9 }"
                          >
                            <!-- <img src="images/icon/components-icon/add.svg" /> -->
                            <svg
                              width="11"
                              height="11"
                              viewBox="0 0 11 11"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M10.3125 4.875H6.375V0.9375C6.375 0.71875 6.15625 0.5 5.9375 0.5H5.0625C4.81641 0.5 4.625 0.71875 4.625 0.9375V4.875H0.6875C0.441406 4.875 0.25 5.09375 0.25 5.3125V6.1875C0.25 6.43359 0.441406 6.625 0.6875 6.625H4.625V10.5625C4.625 10.8086 4.81641 11 5.0625 11H5.9375C6.15625 11 6.375 10.8086 6.375 10.5625V6.625H10.3125C10.5312 6.625 10.75 6.43359 10.75 6.1875V5.3125C10.75 5.09375 10.5312 4.875 10.3125 4.875Z"
                                fill="#5E5E5E"
                              />
                            </svg>
                          </div>
                        </div>
                        <h5>
                          NT${{ updateSubtotal(P2).toLocaleString('en-US') }}
                        </h5>
                      </div>
                      <div class="suButton col-6">
                        <input
                          class="btn_5_border col-6 addCart"
                          type="submit"
                          value="加入購物車"
                        />
                        <input
                          class="btn_5 col-6"
                          type="submit"
                          value="立即預定"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--  住宿選擇 section end -->

          <!-- 入住須知 section -->
          <section class="notice mb_100">
            <h5>入住須知</h5>
            <ul>
              <li>入住毛孩兩年內須經完整三合一或五合一預防注射。</li>
              <li>毛孩須先進行除蚤。</li>
              <li>
                入住2日內如發現毛孩有跳蚤或寄生蟲，將立即通知飼主
                ，並於退房時收取每晚500元環境除蟲費用；且貓貓將進行隔離，無法離開房間。
              </li>
              <li>未結紮之毛孩請先告知。</li>
              <li>
                如有噴尿等行為，將立即通知飼主，並於退房時收取每晚500元氣味處理費用。
              </li>
              <li>特殊病史請先告知。</li>
              <li>
                患有貓白血、傳染性腹膜炎、黴菌感染、體內外寄生蟲感染或其他重大疾病、傳染性疾病不適合入住。
              </li>
              <li>三個月以下毛孩、或需持續專業醫療照顧的毛孩不適合入住。</li>
              <li>包括但不限於注射、擠尿、灌食、24小時臨床照護等。</li>
            </ul>
          </section>
          <!-- 入住須知 section end -->
        </div>
      </main>
      <!-- 加入購物車顯示 -->
      <div class="added-shopping-car">
        @@include('layout/added-shopping-car.html')
      </div>
      <!---------------- main 旅宿資訊 end ---------------->
      @@include('layout/footer.html')
    </div>

    <!-- Swiper JS -->
    <script src="./js/vue-datepicker.iife.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="./js/hostel_search.js"></script>
    <script src="./js/booking_detail.js"></script>
    <script src="./js/media.js"></script>
    <script src="./js/cart.js"></script>
    <!-- search.js -->
    <!-- <script>
      // Datepicker & 寵物類型
      const select_pet = Vue.createApp({
        data() {
          return {
            isPop: false,
            numCat: 1,
            numDog: 1,
            date: "",
            format: `MM月dd日`,
            start: false,
            location: "",
          };
        },
        computed: {
          disabledDates() {
            let today = new Date();
            let disabledtoday = new Date(today);
            disabledtoday.setDate(disabledtoday.getDate() + 1);

            return disabledtoday;
          },
          hoursArray() {
            const arr = [];
            for (let i = 0; i < 24; i++) {
              arr.push({ text: i < 10 ? `0${i}` : i, value: i });
            }
            return arr;
          },
          minutesArray() {
            const arr = [];
            for (let i = 0; i < 60; i++) {
              arr.push({ text: i < 10 ? `0${i}` : i, value: i });
            }
            return arr;
          },
        },
        mounted() {
          // console.log("sss");
          this.start = true;
          // 預設選擇日期
          const today = new Date()
          const startDate = today.setDate(today.getDate()+ 1)
          const endDate = today.setDate(today.getDate()+1)
          this.date = [startDate, endDate]
          this.getLocalStorage();
        },
        methods: {
          toChange(property, value) {
            if (
              (value > 0 && this[property] < 9) ||
              (value < 0 && this[property] > 0)
            ) {
              this[property] += value;
            }
          },
          getLocalStorage(){
            const saveData = JSON.parse(localStorage.getItem("hoteldata"));
            if(saveData){
            this.location = saveData.location;
            this.date = saveData.date;
            this.numCat = saveData.petnum[0];
            this.numDog = saveData.petnum[1];
            }
            // console.log(saveData);
      

            // 清空localStorage資料
            // localStorage.removeItem("hoteldata");
            },
        },
      });
      select_pet.component("Datepicker", VueDatePicker);

      const vm233 = select_pet.mount("#select_pet");
    </script> -->

    <!-- booking_detail.js -->
    <!-- <script>

var swiper = new Swiper(".mySwiper", {
        slidesPerView: "auto",
        centeredSlides: true,
        // spaceBetween: 16,
        loop: true,
        // cssMode: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
        },
      });
      const app2 = Vue.createApp({
        data() {
          return {
            P1: {
              spPrice: 800,
              BuyNum: 1,
            },
            P2: {
              spPrice: 800,
              BuyNum: 1,
            },
          };
        },
        methods: {
          updateSubtotal(product) {
            return product.spPrice * product.BuyNum;
          },
          updateAmount(product, change) {
            if (product.BuyNum < 9) {
              product.BuyNum = Math.max(0, product.BuyNum + change);
            } else if (product.BuyNum >= 9) {
              product.BuyNum = 8;
              product.BuyNum = Math.max(0, product.BuyNum + change);
            }
            this.updateSubtotal(product);
          },
          handleInput(product) {
            if ((product.BuyNum = 1)) {
              product.BuyNum = 1;
            } else if (product.BuyNum > 9) {
              product.BuyNum = 9;
            }
            this.updateSubtotal(product);
          },
        },
      });
      app2.mount("#htApp");
    </script> -->
  </body>


<!-- media.js -->
  <!-- <script>
    //768選單
    document.addEventListener("DOMContentLoaded", function () {
      const searchOut = document.querySelector(".d_search-out");
      const onDis768Elements = document.querySelectorAll(".onDis768");

      function handleMouseEnter() {
        onDis768Elements.forEach(function (element) {
          element.style.display = "block";
        });
      }

      function handleMouseLeave() {
        onDis768Elements.forEach(function (element) {
          element.style.display = "none";
        });
      }

      function checkWidth() {
        const windowSize = window.innerWidth;

        if (windowSize <= 768) {
          searchOut.addEventListener("mouseenter", handleMouseEnter);
          searchOut.addEventListener("mouseleave", handleMouseLeave);
        } else {
          onDis768Elements.forEach(function (element) {
            element.style.display = "";
          });
          searchOut.removeEventListener("mouseenter", handleMouseEnter);
          searchOut.removeEventListener("mouseleave", handleMouseLeave);
        }
      }

      //初始檢查
      checkWidth();
      // 當視窗大小改變時重新檢查
      window.addEventListener("resize", checkWidth);
    });
  </script> -->

<!-- cart.js -->
  <!-- <script>
    //顯示已加入購物車
    let addCart = document.querySelectorAll(".addCart");
    let popup = document.querySelector(".ol-contentShop");

    for (let index = 0; index < addCart.length; index++) {
      const element = addCart[index];

      element.addEventListener("click", function () {
        popup.style.opacity = "1";

        setTimeout(function () {
          popup.style.opacity = "0";
        }, 3000);
      });
    }
  </script> -->
</html>
