<section>
  <div class="ad_comm mb_100">
    <div class="top">
      <h4>服務評價</h4>
      <div class="arrow_btn">
        <div class="arrow">
          <img src="/images/icon/components-icon/arrow-left.svg" alt="arrow" />
        </div>
        <div class="arrow">
          <img src="/images/icon/components-icon/arrow-right.svg" alt="arrow" />
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="ad_box">
        <div class="comm_text">
          <div class="star">
            <img src="./images/icon/components-icon/star.svg" alt="star" />
            <img src="./images/icon/components-icon/star.svg" alt="star" />
            <img src="./images/icon/components-icon/star.svg" alt="star" />
            <img src="./images/icon/components-icon/star.svg" alt="star" />
            <img src="./images/icon/components-icon/star.svg" alt="star" />
          </div>
          <p>
            車子備有寵物安全搭乘的設備，司機準時而且對動物很有愛心，停車總會確認我們家寶貝的狀態。
          </p>
        </div>
        <div class="comm_user">
          <img src="/images/pic/user1.png" alt="user" />
          <div class="user_info">
            <p>Allen Le</p>
            <span>2023/07/24</span>
          </div>
        </div>
      </div>
      <div class="ad_box">
        <div class="comm_text">
          <div class="star">
            <img src="./images/icon/components-icon/star.svg" alt="star" />
            <img src="./images/icon/components-icon/star.svg" alt="star" />
            <img src="./images/icon/components-icon/star.svg" alt="star" />
            <img src="./images/icon/components-icon/star.svg" alt="star" />
            <img src="./images/icon/components-icon/star.svg" alt="star" />
          </div>
          <p>
            車子備有寵物安全搭乘的設備，司機準時而且對動物很有愛心，停車總會確認我們家寶貝的狀態。
          </p>
        </div>
        <div class="comm_user">
          <img src="/images/pic/user2.png" alt="user" />
          <div class="user_info">
            <p>Peter Chen</p>
            <span>2023/07/24</span>
          </div>
        </div>
      </div>
      <div class="ad_box">
        <div class="comm_text">
          <div class="star">
            <img src="./images/icon/components-icon/star.svg" alt="star" />
            <img src="./images/icon/components-icon/star.svg" alt="star" />
            <img src="./images/icon/components-icon/star.svg" alt="star" />
            <img src="./images/icon/components-icon/star.svg" alt="star" />
            <img src="./images/icon/components-icon/star.svg" alt="star" />
          </div>
          <p>
            車子備有寵物安全搭乘的設備，司機準時而且對動物很有愛心，停車總會確認我們家寶貝的狀態。
          </p>
        </div>
        <div class="comm_user">
          <img src="/images/pic/user3.png" alt="user" />
          <div class="user_info">
            <p>Harry Potter</p>
            <span>2023/07/24</span>
          </div>
        </div>
      </div>
      <!-- <div class="ad_box">
        <div class="comm_text">
          <img src="" alt="star" />
          <p>
            車子備有寵物安全搭乘的設備，司機準時而且對動物很有愛心，停車總會確認我們家寶貝的狀態。
          </p>
        </div>
        <div class="comm_user">
          <img src="" alt="user" />
          <div class="user_info">
            <p>Allen Le</p>
            <span>2023/07/24</span>
          </div>
        </div>
      </div> -->
      <!-- <div class="ad_box">
        <div class="comm_text">
          <img src="" alt="star" />
          <p>
            車子備有寵物安全搭乘的設備，司機準時而且對動物很有愛心，停車總會確認我們家寶貝的狀態。
          </p>
        </div>
        <div class="comm_user">
          <img src="" alt="user" />
          <div class="user_info">
            <p>Allen Le</p>
            <span>2023/07/24</span>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
