<section class="ad_section mb_100">
  <div class="ad_box container">
    <div class="ad_box_icon col-12">
      <img
        src="../images/icon/components-icon/ad-icon/ad-Icon01.svg"
        alt="add Member"
      />
      <div class="add_text">
        <h6 class="noneOn768">立即加入會員，省越多、賺越多！</h6>
        <h6 class="blockOn768">
          立即加入會員，<br />
          省越多、賺越多！
        </h6>
        <p>首次下單，即贈30 PetPoint點！</p>
      </div>
    </div>
    <div class="ad_box_icon col-12">
      <img
        src="../images/icon/components-icon/ad-icon/ad-Icon02.svg"
        alt="points"
      />
      <div class="add_text">
        <h6>最多10% PetPoint點回饋</h6>
        <p class="noneOn414">輕鬆賺積分、享折扣，下次預訂更划算！</p>
        <p class="blockOn414">
          輕鬆賺積分、享折扣，<br />
          下次預訂更划算！
        </p>
      </div>
    </div>
  </div>
</section>
