<div class="ad_box">
  <div class="ad_box_incon col-lg-12">
    <img
      src="/images/icon/components-icon/ad-icon/ad-Icon01.svg"
      alt="add Member"
    />
    <div class="add_text">
      <h6>立即加入會員，省越多、賺越多！</h6>
      <p>首次下單，即贈30 PetPoint點！</p>
    </div>
  </div>
  <div class="ad_box_incon col-lg-12">
    <img
      src="/images/icon/components-icon/ad-icon/ad-Icon02.svg"
      alt="points"
    />
    <div class="add_text">
      <h6>最多10% PetPoint點回饋</h6>
      <p>輕鬆賺積分、享折扣，下次預訂更划算！</p>
    </div>
  </div>
</div>
