<section class="ad_section mb_100">
  <div class="ad_box container">
    <a href="../hostel.html" class="ad_box_icon col-12 ad_box_white">
      <img
        src="./images/icon/components-icon/ad-icon/ad-Icon01.svg"
        alt="add Member"
      />
      <div class="add_text shop-ad-button">
        <h6>GO旅宿</h6>
        <p>需要幫寵物訂房嗎？這邊點過去</p>
      </div>
    </a>
    <a href="../driver.html" class="ad_box_icon col-12 ad_box_white">
      <img
        src="./images/icon/components-icon/ad-icon/ad-Icon02.svg"
        alt="points"
      />
      <div class="add_text shop-ad-button">
        <h6>GO司機</h6>
        <p>全年無修司機隨傳隨到，但是要預約</p>
      </div>
    </a>
  </div>
</section>
