<section class="ad_white_shop">
  <div class="ad_box container">
    <a href="../hostel.html" class="ad_box_icon col-12 ad_box_white">
      <img src="./images/icon/shop-icon/home.svg" alt="add Member" />
      <div class="add_text shop-ad-button">
        <div class="txt_arrow">
          <h6>PetpaGO <span>旅宿</span></h6>
          <img
            src="./images/icon/components-icon/arrow-right-purple.svg"
            alt="arrow"
          />
        </div>
        <p>找毛保姆不如找寵物旅宿</p>
      </div>
    </a>
    <a href="../driver.html" class="ad_box_icon col-12 ad_box_white">
      <img src="./images/icon/shop-icon/car.svg" alt="points" />
      <div class="add_text shop-ad-button">
        <div class="txt_arrow">
          <h6>PetpaGO <span>司機</span></h6>
          <img
            src="./images/icon/components-icon/arrow-right-purple.svg"
            alt="arrow"
          />
        </div>
        <p>就是要帶毛小孩趴趴走</p>
      </div>
    </a>
  </div>
</section>
