<section class="titlesearchbar">
  <div class="drivertitle">
    <h2 class="mb_24">最安心的寵物接送</h2>
  </div>
  <div class="searchbar" id="driver_app">
    <div class="upsection">
      <div class="place col-6 col-lg-6 col-sm-12">
        <span>出發點</span>
        <input type="text" placeholder="輸入上車地點" v-model="msg_start" />
      </div>
      <img
        src="../images/icon/drive-icon/change-bt.svg"
        alt=""
        @click="change"
      />
      <div class="place col-6 col-lg-6 col-sm-12">
        <span>目的地</span>
        <input type="text" placeholder="輸入下車地點" v-model="msg_end" />
      </div>
    </div>
    <div class="downsection">
      <div class="categorycontrol col-12">
        <div class="category col-4 col-sm-12">
          <span>乘車日期&時間</span>
          <DatePicker
            v-model="date"
            :format="format"
            calendar-cell-class-name="dp-custom-cell"
            time-picker-inline
            week-start="0"
            :is-24="true"
            :min-date="disabledDates"
            :auto-position="false"
          />
        </div>
        <div class="category col-4 col-sm-12 categoryset">
          <span>車種</span>
          <input
            type="button"
            :value="car_menu"
            @click="car_menu_open === true ? car_menu_open = false : car_menu_open = true"
          />
          <div
            class="category_kind"
            :class="{'active':car_menu_open}"
            ref="category_kind_active"
          >
            <div class="category_bottom">
              <ul class="car">
                <li class="carList" v-for="item in cars" :key="item.id">
                  <input
                    type="radio"
                    v-model="car_menu"
                    name="car-type"
                    :value="item.cars_type"
                  />
                  <p ref="CAR">{{item.cars_type}}</p>
                  <span>{{item.cars_text}}</span>
                  <div
                    class="check-box"
                    :class="{'smooth':item.cars_type === car_menu}"
                  ></div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="category col-4 col-sm-12">
          <span>乘客數量</span>
          <input
            type="button"
            @click="passenger_menu_open = !passenger_menu_open"
          />

          <div
            class="driverStepper_wrapper"
            :class="{'active':passenger_menu_open}"
            ref="driverStepper_wrapper_active"
          >
            <div class="passenger_quantity">
              <driver-selector :dselector="passenger"></driver-selector>
              <driver-selector :dselector="pet"></driver-selector>
            </div>
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="driverbtn btn_7 col-2 col-lg-12"
        id="driverbtn"
      >
        <p>立即搜尋</p>
      </button>
    </div>
    <div class="remind">
      <img
        src="../images/icon/drive-icon/notes.svg"
        alt=""
        class="remindicon"
      />
      <p>
        為提供舒適安全的乘車體驗，轎車最多可搭載乘客＋毛孩共三位、休旅車最多可搭載乘客＋毛孩共四位，請依實際需求選擇。
      </p>
    </div>
  </div>
</section>
