<section class="titlesearchbar">
  <div class="drivertitle">
    <h2 class="mb_24">最安心的寵物接送</h2>
  </div>
  <div class="searchbar">
    <div class="upsection">
      <div class="place col-6 col-lg-6 col-sm-12">
        <span>出發點</span>
        <input type="text" placeholder="輸入上車地點" />
      </div>
      <img src="../images/icon/drive-icon/change-bt.svg" alt="" />
      <div class="place col-6 col-lg-6 col-sm-12">
        <span>目的地</span>
        <input type="text" placeholder="輸入下車地點" />
      </div>
    </div>
    <div class="downsection">
      <div class="categorycontrol col-12">
        <div class="category col-4 col-sm-12">
          <span>乘車日期&時間</span>
          <input type="text" placeholder="8月17日｜16:00" />
        </div>
        <div class="category col-4 col-sm-12">
          <span>車種</span>
          <input type="text" placeholder="轎車" />
        </div>
        <div class="category col-4 col-sm-12">
          <span>乘客數量</span>
          <input type="text" placeholder="1位乘客, 2位毛孩" />
        </div>
      </div>

      <div class="driverbtn btn_7 col-2 col-lg-12">
        <p>立即搜尋</p>
      </div>
    </div>
    <div class="remind">
      <img
        src="../images/icon/drive-icon/notes.svg"
        alt=""
        class="remindicon"
      />
      <p>
        為提供舒適安全的乘車體驗，轎車最多可搭載乘客＋毛孩共三位、休旅車最多可搭載乘客＋毛孩共四位，請依實際需求選擇。
      </p>
    </div>
  </div>
</section>
