<header>
  <a href="index.html">
    <img src="/images/logo/PetpaGo-logo.svg" alt="PetpaGo logo" />
  </a>
  <ul class="navList col-10">
    <li><a href="hostel.html">GO旅宿</a></li>
    <li><a href="driver.html">GO司機</a></li>
    <li><a href="photowall.html">GO有料</a></li>
    <li>
      <a href="shopping.html">
        <img src="/images/icon/header-icon/shoop.svg" alt="shopCar"
      /></a>
    </li>
    <li>@@include('login.html')</li>
    <li class="userIcon">
      <svg
        width="25"
        height="25"
        viewBox="0 0 67 68"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M33.5003 0.666748C15.1003 0.666748 0.166992 15.6001 0.166992 34.0001C0.166992 52.4001 15.1003 67.3334 33.5003 67.3334C51.9003 67.3334 66.8337 52.4001 66.8337 34.0001C66.8337 15.6001 51.9003 0.666748 33.5003 0.666748ZM33.5003 14.0001C39.9337 14.0001 45.167 19.2334 45.167 25.6667C45.167 32.1001 39.9337 37.3334 33.5003 37.3334C27.067 37.3334 21.8337 32.1001 21.8337 25.6667C21.8337 19.2334 27.067 14.0001 33.5003 14.0001ZM33.5003 60.6668C26.7337 60.6668 18.7337 57.9334 13.0337 51.0668C18.8723 46.4858 26.0791 43.9961 33.5003 43.9961C40.9216 43.9961 48.1283 46.4858 53.967 51.0668C48.267 57.9334 40.267 60.6668 33.5003 60.6668Z"
          fill="#09003E"
        />
      </svg>
      <!-- <img src="/images/icon/header-icon/user-icon.svg" alt="user" /> -->
    </li>
  </ul>

  <!-- hamburger -->
  <div class="hamburgerList col-10">
    <a href="shopping.html">
      <img src="/images/icon/header-icon/shoop.svg" alt="shopCar"
    /></a>

    <div class="l-header">
      <div class="l-header__hambuger">
        <div class="hambuger js-click">
          <div class="hambuger__icon">
            <div class="lines">
              <div class="line line--top"></div>
              <div class="line line--bottom"></div>
            </div>
          </div>

          <div class="hambuger__body">
            <div class="bg" id="hambugerBg"></div>
            <div class="body" id="hambugerBody">
              <ul class="menu-list">
                <li class="item">
                  <p class="title">
                    <img
                      src="/images/logo/PetpaGo-whiteLogo.svg"
                      alt="logo"
                      width="150px"
                    />
                    <!-- <span class="en">Top</span>
                    <span class="ja">回首頁</span> -->
                  </p>
                  <a class="link" href="/"></a>
                </li>

                <li class="item">
                  <p class="title">
                    <span class="en">Go旅宿</span>
                    <span class="ja">你出國 毛小孩也度假去</span>
                  </p>
                  <a class="link" href="hostel.html"></a>
                </li>

                <li class="item">
                  <p class="title">
                    <span class="en">Go司機</span>
                    <span class="ja">無縫接送毛小孩</span>
                  </p>
                  <a class="link" href="driver.html"></a>
                </li>

                <li class="item">
                  <p class="title">
                    <span class="en">Go有料</span>
                    <span class="ja">hiHi 我們一家毛</span>
                  </p>
                  <a class="link" href="photowall.html"></a>
                </li>

                <li class="item">
                  <p class="title">
                    <span class="en">會員中心</span>
                    <span class="ja">累計點數 賺回饋goGo</span>
                  </p>
                  <a class="link" href="member.html"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mo-js/0.288.2/mo.min.js"></script>
<script>
  class Hambuger {
    constructor() {
      window.pc = true;

      let shapePhilosophy = new mojs.Shape({
        parent: document.getElementById("hambugerBg"),
        shape: "circle",
        radius: window.pc ? 20 : 20,
        // angle: 30,
        fill: "#6e60f6",
        opacity: 1,
        isShowStart: true,
      });

      let hambugerIcon = document.getElementsByClassName("hambuger__icon")[0];
      let lineTop = document.getElementsByClassName("line--top")[0];
      let lineBottom = document.getElementsByClassName("line--bottom")[0];
      let menuBody = document.getElementById("hambugerBody");
      let items = menuBody.querySelectorAll(".item");

      hambugerIcon.addEventListener("click", () => {
        hambugerIcon.classList.toggle("is-open");
        if (hambugerIcon.classList.contains("is-open")) {
          shapePhilosophy.then({
            scale: window.pc ? 80 : 40,
            duration: 600,
            // opacity: 1,
            easing: "expo.out",
          });
          menuBody.style.display = "block";
          TweenMax.staggerTo(
            items,
            0.3,
            {
              opacity: 1,
              y: 0,
              delay: 0.2,
              ease: Power2.easeOut,
            },
            0.075
          );
          TweenMax.to(lineTop, 0.4, {
            y: 2,
            ease: Power4.easeOut,
            onComplete: () => {
              TweenMax.to(lineTop, 0.4, {
                rotation: 45,
                transformOrigin: "center center",
                ease: Power4.easeOut,
              });
            },
          });
          TweenMax.to(lineBottom, 0.4, {
            y: -2,
            transformOrigin: "left top",
            ease: Power4.easeOut,
            onComplete: () => {
              TweenMax.to(lineBottom, 0.4, {
                rotation: -45,
                transformOrigin: "center center",
                ease: Power4.easeOut,
              });
            },
          });
          // 禁用捲軸
          document.body.style.overflow = "hidden";
        } else {
          shapePhilosophy.then({
            scale: 1,
            duration: 400,
            delay: 300,
            easing: "expo.out",
          });
          TweenMax.staggerTo(
            items,
            0.2,
            {
              opacity: 0,
              y: "20px",
              onComplete: () => {
                menuBody.style.display = "none";
              },
            },
            0.01
          );
          TweenMax.to(lineTop, 0.4, {
            rotation: 0,
            transformOrigin: "center center",
            ease: Power4.easeOut,
            onComplete: () => {
              TweenMax.to(lineTop, 0.4, {
                y: 0,
                ease: Power4.easeOut,
              });
            },
          });
          TweenMax.to(lineBottom, 0.4, {
            rotation: 0,
            transformOrigin: "center center",
            ease: Power4.easeOut,
            onComplete: () => {
              TweenMax.to(lineBottom, 0.4, {
                y: 0,
                transformOrigin: "left top",
                ease: Power4.easeOut,
              });
            },
          });
          // 啟用捲軸
          document.body.style.overflow = "auto";
        }
        shapePhilosophy.play();
      });
    }
  }

  new Hambuger();
</script>
