<!-- 司機購物車彈跳窗 -->

<!-- first list box2 -->
<div class="ol-content">
    <!-- box2-1 -->
    <div class="ol-contentBox mb_24">
      <div class="ol-ContText">
        <div class="ol-title">
            <h6>寵物接送</h6>
            <img src="../images/icon/shop-icon/delete.svg" alt="">
        </div>
        <p>8月17日 ｜ 16:00</p>
        <div class="ol-info jcSb mb_16">
          <p>轎車×1</p>
          <span>NT$ 300</span>
        </div>
      </div>
    </div>
    <!-- checkout-note -->
    <div class="checkout">
        <div class="product-count">
            <p>共1件商品</p>
            <span>NT$ 300</span>
        </div>
        <button class="btn_4_border">查看購物車</button>
    </div>
  </div>
