<!-- 購物車彈跳窗 -->

<div class="ol-content">
  <!-- first list box2 -->
  <!-- <div
  v-for="(item, index) in shoppingItems"
  :key="index"
  :class="['ol-content', item.type]"
  id="headerShopCar"
> -->
  <!-- box2-1 -->
  <!-- ---------------------------------------------------------- -->
  <!-- <div class="ol-contentBox">
    <div class="ol-ContText">
      <div class="ol-title">
        <h6>{{ item.product }}</h6>
        <img
          src="./images/icon/shop-icon/delete.svg"
          @click="confirmDelete(index)"
        />
      </div>

      <div class="spList_down">
        <p>{{ useDate(item) }}</p>

        <div class="ol-info">
          <p v-if="item.listType === '狗套房'">
            {{ item.listType }} ｜ {{ item.dogSize}}
          </p>
          <p v-else>{{ item.listType }}</p>
          <span>NT$ {{ countSubtotal(item).toLocaleString('en-US') }}</span>
        </div>
      </div>
    </div>
  </div> -->
  <!-- ---------------------------------------------------------- -->
  <div class="ol-contentBox">
    <div class="ol-ContText">
      <div class="ol-title">
        <h6>寵物接送</h6>
        <img src="./images/icon/shop-icon/delete.svg" alt="" />
      </div>
      <p>8月17日 ｜ 16:00</p>
      <div class="ol-info">
        <p>轎車</p>
        <span>NT$ 300</span>
      </div>
    </div>
  </div>
  <!-- box2-2 -->
  <div class="ol-contentBox">
    <div class="ol-ContText">
      <div class="ol-title">
        <h6>寵物接送</h6>
        <img src="./images/icon/shop-icon/delete.svg" alt="" />
      </div>
      <p>8月17日-8月19日 (3晚)</p>
      <div class="ol-info">
        <p>狗套房X1 ｜ 小型犬</p>
        <span>NT$ 2,400</span>
      </div>
    </div>
  </div>
  <!-- box2-3 -->
  <div class="ol-contentBox">
    <div class="ol-ContText">
      <div class="ol-title">
        <h6>快樂寵物旅館</h6>
        <img src="./images/icon/shop-icon/delete.svg" alt="" />
      </div>
      <p>8月17日-8月19日 (3晚)</p>
      <div class="ol-info">
        <p>貓套房X1 ｜ 貓咪</p>
        <span>NT$ 2,400</span>
      </div>
    </div>
  </div>

  <!-- ---------------------------------------------------------- -->
  <!-- <div class="checkout">
    <div class="product-count">
      <p>共{{ this.checkedNames.length }}件商品</p>
      <span>
        NT${{(usePointsCheck ? payPrice : totalPrice).toLocaleString('en-US')}}
      </span>
    </div>
  </div>
  <button class="btn_4" type="button" @click="checkform">查看購物車</button> -->
  <!-- ---------------------------------------------------------- -->

  <!-- checkout-note -->
  <div class="checkout">
    <div class="product-count">
      <p>共3件商品</p>
      <span>NT$ 5,100</span>
    </div>
    <button class="btn_4">查看購物車</button>
  </div>
</div>
