<!-- 購物車彈跳窗 -->

<!-- first list box2 -->
<div class="ol-content">
    <!-- box2-1 -->
    <div class="ol-contentBox mb_24">
      <div class="ol-ContText">
        <div class="ol-title">
            <h6>寵物接送</h6>
            <img src=".../images/icon/shop-icon/delete.svg" alt="">
        </div>
        <p style="color: #555;font-weight: normal; font-size: 14px;">8月17日 ｜ 16:00</p>
        <div class="ol-info jcSb mb_16">
          <p style="color: #555;font-weight: normal; font-size: 14px;">轎車</p>
          <span style="font-size: normal; font-size: 14px;">NT$ 300</span>
        </div>
      </div>
    </div>
    <!-- box2-2 -->
    <div class="ol-contentBox mb_24">
      <div class="ol-ContText">
        <div class="ol-title">
            <h6>寵物接送</h6>
            <img src=".../images/icon/shop-icon/delete.svg" alt="">
        </div>
        <p style="color: #555;font-weight: normal; font-size: 14px;">8月17日-8月19日 (3晚)</p>
        <div class="ol-info jcSb mb_16">
          <p style="color: #555;font-weight: normal; font-size: 14px;">狗套房X1 ｜ 小型犬</p>
          <span style="font-size: normal; font-size: 14px;">NT$ 2,400</span>
        </div>
      </div>
    </div>
    <!-- box2-3 -->
    <div class="ol-contentBox mb_24">
      <div class="ol-ContText">
        <div class="ol-title">
            <h6>快樂寵物旅館</h6>
            <img src=".../images/icon/shop-icon/delete.svg" alt="">
        </div>
        <p style="color: #555;font-weight: normal; font-size: 14px;">8月17日-8月19日 (3晚)</p>
        <div class="ol-info jcSb mb_16">
          <p style="color: #555;font-weight: normal; font-size: 14px;">貓套房X1 ｜ 貓咪</p>
          <span style="font-size: normal; font-size: 14px;">NT$ 2,400</span>
        </div>
      </div>
    </div>
    <!-- checkout-note -->
    <div class="checkout">
        <div class="product-count">
            <p style="color: #555; font-size: normal; font-size: 14px;">共3件商品</p>
            <span style="font-size: 18px;">NT$ 5,100</span>
        </div>
        <button class="btn_4">查看購物車</button>
    </div>
  </div>

