<div class="slide-bar col-2 row align-items-center">
    <div>
        <img class="member-photo" src="/images/icon/member-icon/user-member.svg" alt="">
        <ul class="member-system mb_40">
            <li class="row"><img src="/images/icon/member-icon/list.svg" alt=""><a href="member.html">訂單記錄</a></li>
            <li class="row"><img src="/images/icon/member-icon/point.svg" alt=""><a href="memberPoints.html">我的點數</a></li>
            <li class="row"><img src="/images/icon/member-icon/post.svg" alt=""><a href="memberPost.html">我的貼文</a></li>
            <li class="row"><img src="/images/icon/member-icon/settings.svg" alt=""><a href="memberSetting.html">個人資料</a></li>  
        </ul>
    </div>
    <div class="logOutBtn">
        <button class="btn_4_border">登出</button>
    </div>
</div>