<div class="slide-bar col-2 col-lg-3">
  <img
    class="member-photo"
    src="/images/icon/member-icon/user-member.svg"
    alt="userIcon"
  />

  <!-- <div> -->
  <ul class="member-system">
    <li class="row">
      <a href="#"
        ><img src="/images/icon/member-icon/list.svg" alt="" />訂單記錄</a
      >
    </li>

    <li class="row">
      <a href="#"
        ><img src="/images/icon/member-icon/point.svg" alt="" />我的點數</a
      >
    </li>

    <li class="row">
      <a href="#"
        ><img src="/images/icon/member-icon/post.svg" alt="" />我的貼文</a
      >
    </li>

    <li class="row">
      <a href="#"
        ><img src="/images/icon/member-icon/settings.svg" alt="" />個人資料</a
      >
    </li>
  </ul>
  <!-- </div> -->

  <!-- <div class="logOutBtn"> -->
  <button class="btn_4_border">登出</button>
  <!-- </div> -->
</div>
