//司機
.driver {
  .driverbgimg {
    margin: 0 auto;
    width: 100%;
  }
  .container {
    margin: 0 auto;
    .titlesearchbar {
      //   outline: 1px solid red;
      margin-top: -175px;
      margin-bottom: 100px;
      position: relative;

      h2 {
        color: #126c86;
        margin-bottom: 24px;
      }
      .searchbar {
        width: 100%;
        padding: 40px 50px;
        border-radius: 16px;
        background-color: $white;
        // outline: 1px solid blue;
        /* Drop Shadow */
        box-shadow: 20px 40px 48.34000015258789px 0px rgba(141, 147, 201, 0.05);
        .upsection {
          @include flex();
          gap: 12px;
          margin-bottom: 16px;
          input::placeholder {
            color: $textColor_l;
          }
        }
        input {
          border: none;
          outline: none;
          background-color: transparent;
          text-indent: 16px;
        }

        .downsection {
          @include flex(row, space-between);
          gap: 16px;
          margin-bottom: 16px;
          input::placeholder {
            color: $black;
          }
        }

        .place,
        .category {
          height: 76px;
          background-color: $gray_2;
          //   margin-right: 56px;
          @include flex(column, center, null);
          border-radius: $br_8;
          span {
            font-size: 14px;
            margin-left: 16px;
            color: $textColor_m;
            margin-bottom: 8px;
          }
        }

        .remind {
          @include flex(row, null, center);
          // height: 44px;
          background-color: $gray_2;
          border-radius: 8px;
          color: $textColor_m;
          padding: 4px 16px;
          .remindicon {
            margin-right: 8px;
          }
        }
      }
    }
    .drivercards {
      @include flex(row, center, null);
      gap: 39px;
      .leftcard {
        background-color: rgba(102, 213, 192, 0.1);
        height: 994px;
        border-radius: 0 100px 100px 0; /* 左上、右上、右下、左下 */
        @include flex(row, center, flex-start);
        span {
          writing-mode: vertical-rl;
          padding-left: 5px;
          font-size: 32px;
          color: $black;
          border-left: 1px solid rgb(0, 0, 0);
          margin-top: -27px;
        }
      }
      .rightcard {
        h4 {
          color: #222;
        }
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px 34px;
          li {
            h6 {
              margin-bottom: 16px;
            }
            .db {
              width: 100%;
            }
          }
        }
      }
    }
    .drivermap {
      background-color: $white;
      position: relative;
      padding: 40px;
      height: 100%;
      /* Drop Shadow */
      box-shadow: 20px 40px 48.34000015258789px 0px rgba(141, 147, 201, 0.05);
      border-radius: $br_12;

      iframe {
        border-radius: $br_12;
      }
    }
  }
}
