//司機
.driver {
  picture {
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .container {
    margin: 0 auto;

    .titlesearchbar {
      //   outline: 1px solid red;
      margin-top: -161px;
      margin-bottom: 100px;
      h2 {
        color: #126c86;
      }

      // h2 {
      //   color: #126c86;
      //   margin-bottom: 24px;
      // }
      .searchbar {
        width: 100%;
        padding: 40px 50px;
        border-radius: 16px;
        background-color: $white;
        position: relative;
        /* Drop Shadow */
        box-shadow: 20px 40px 48.34000015258789px 0px rgba(141, 147, 201, 0.05);
        .upsection {
          @include flex();
          gap: 12px;
          margin-bottom: 16px;
          input::placeholder {
            color: $textColor_l;
          }
        }
        input {
          border: none;
          outline: none;
          background-color: transparent;
          text-indent: 16px;
        }

        .downsection {
          @include flex(row, space-between);
          gap: 16px;
          margin-bottom: 16px;
          input::placeholder {
            color: $black;
          }
          .categorycontrol {
            @include flex(row, space-between);
            gap: 16px;
          }
        }

        .place,
        .category {
          height: 76px;
          background-color: $gray_2;
          //   margin-right: 56px;
          @include flex(column, center, null);
          border-radius: $br_8;
          span {
            font-size: 14px;
            margin-left: 16px;
            color: $textColor_m;
            margin-bottom: 8px;
          }
        }

        .remind {
          @include flex(row, null, center);
          // height: 44px;
          background-color: $gray_2;
          border-radius: 8px;
          color: $textColor_m;
          padding: 4px 16px;
          .remindicon {
            margin-right: 8px;
          }
        }
      }
    }
    .drivercards {
      @include flex(row, center, null);
      gap: 39px;
      .leftcard {
        height: 994px;
        @include flex(row, center, flex-start);
        .filter {
          width: 100%;
          height: 100%;
          background-color: rgba(102, 213, 192, 0.1);
          border-radius: 0 100px 100px 0; /* 左上、右上、右下、左下 */
          span {
            writing-mode: vertical-rl;
            padding-left: 5px;
            font-size: 32px;
            color: $black;
            border-left: 1px solid rgb(0, 0, 0);
            margin-top: -27px;
            margin-left: 44%;
          }
        }
      }
      .rightcard {
        h4 {
          color: #222;
        }
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px 34px;
          li {
            h6 {
              margin-bottom: 16px;
            }
            .db {
              width: 100%;
            }
          }
        }
      }
    }
    .drivermap {
      background-color: $white;
      position: relative;
      padding: 40px;
      height: 100%;
      /* Drop Shadow */
      box-shadow: 20px 40px 48.34000015258789px 0px rgba(141, 147, 201, 0.05);
      border-radius: $br_12;

      iframe {
        border-radius: $br_12;
      }
    }
    .notice,
    .cancel {
      letter-spacing: 0.6px;
      padding: 32px 0 64px 0;
      border-top: 1px solid #e0e0e0;
      span {
        display: block;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      ul {
        padding-left: 20px;
        li {
          list-style-type: disc;
        }
      }
    }
  }
}

// @media screen and (max-width: 768px) {
//   .titlesearchbar {
//     margin-top: -150px;
//   }
// }

@media screen and (max-width: 768px) {
  .driver {
    picture {
      width: 100%;
      // background-position: right 35% bottom;
    }
    .container {
      .titlesearchbar {
        margin: -161px 32px 60px 32px;
        .searchbar {
          padding: 32px;

          .upsection {
            gap: 16px;
          }
          .downsection {
            flex-wrap: wrap;
          }
        }
      }
      .drivercards {
        padding: 0 28px;

        .leftcard {
          display: none;
        }
        .rightcard {
          position: relative;
          margin-top: 110px;
          margin-bottom: 90px;
          &::before {
            content: "";
            background-color: rgba(102, 213, 192, 0.1);
            position: absolute;
            width: 51%;
            height: 33%;
            top: -50px;
            left: -60px;
            border-radius: 0 100px 100px 0; /* 左上、右上、右下、左下 */
            z-index: -1;
          }
        }
      }
      .notice,
      .cancel {
        margin: 0 32px;
      }
    }
  }
} // rwd 768 end

@media screen and (max-width: 414px) {
  .driver {
    .container {
      .titlesearchbar {
        margin-left: 16px;
        margin-right: 16px;
        h2 {
          text-align: center;
        }
        .searchbar {
          .upsection {
            display: block;
            img {
              display: none;
            }
            .place {
              margin-bottom: 8px;
            }
          }
          .downsection {
            display: block;
            .categorycontrol {
              display: block;
              margin-bottom: 12px;
              .category {
                margin-bottom: 8px;
              }
            }
          }
        }
      }
      .drivercards {
        .rightcard {
          &::before {
            content: "";
            width: 74%;
            height: 18%;
          }
          .card {
            ul {
              display: block;
              li {
                margin-bottom: 60px;
              }
            }
          }
        }
      }

      .drivermap {
        margin-left: 16px;
        margin-right: 16px;
        iframe {
          height: 249px;
        }
      }

      .notice,
      .cancel {
        margin: 0 16px;
      }
    }
  }
}
