//FAQ
.faq {
  .banner {
    background: $purple_d;
    color: $white;
    @include flex();
    height: 315px;
  }
  .faq_head {
    display: flex;
    .faq_list {
      width: 25%;
      padding-bottom: 12px;
      text-align: center;
      // font-weight: 700;
      font-size: 20px;
      cursor: pointer;
      position: relative;
      a {
        color: $textColor_m;
      }

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background-color: $purple;
        bottom: 0;
        transform: scaleX(0); /* 初始縮放為0，不可見 */
        transform-origin: left; /* 變換的起始點在左邊 */
        transition: transform -10s ease, width 1.5s ease; /* 同時動畫 transform 和 width */
      }
    }
    // 點擊後的文字變化
    .active {
      text-align: left;
      a {
        color: $purple;
        font-weight: 700;
      }
      &::before {
        width: 100%; /* 線的寬度變為100% */
        transform: scaleX(0.5); /* 線的寬度由0慢慢變為1，從左至右展開 */
      }
    }
  }

  // codepen
  $bg: #fff;
  $text: #7288a2;
  $gray: #4d5974;
  $lightgray: #e5e5e5;
  $blue: #03b5d2;

  .accordion {
    .accordion-item {
      border-bottom: 1px solid $gray_1;
      button[aria-expanded="true"] {
        // border-bottom: 1px solid $blue;
      }
    }
    button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 1em 0;
      color: $textColor_m;
      font-size: 18px;
      font-weight: 500;
      border: none;
      background: none;
      outline: none;
      &:hover,
      &:focus {
        cursor: pointer;
        color: $purple;
        &::after {
          cursor: pointer;
          color: red;
          border: 1px solid red;
        }
      }
      .accordion-title {
        padding: 1em 1.5em 1em 0;
      }
      .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        &::before {
          display: block;
          position: absolute;
          content: "";
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: "";
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }
    button[aria-expanded="true"] {
      color: $purple;
      .icon {
        &::after {
          width: 0;
        }
      }
      + .accordion-content {
        opacity: 1;
        max-height: 10em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
    }
    .accordion-content {
      opacity: 0;
      max-height: 0;
      // overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
      p {
        font-size: 1rem;
        font-weight: 300;
        margin: 2em 0;
      }
      ol li {
        list-style-type: circle;
      }
    }
  }
}
