//旅宿
.hostel {
  //滿版

  // Banner
  picture {
    margin: 0 auto -150px;
    img {
      width: 100%;
    }
  }

  // ------------ page 1 -- GO旅宿-hostel ------------
  // search bar
  $searchColor: #edecfe;

  .hostel_headBox {
    padding: 0 32px;
    position: relative;
    z-index: 1;
    @media (max-width: 414px) {
      padding: 0 20px;
    }
  }
  .hostel_title {
    color: #865214;
    @media (max-width: 414px) {
      text-align: center;
      position: relative;
      top: -250px;
    }
    @media (max-width: 390px) {
      top: -230px;
    }
    @media (max-width: 375px) {
      top: -220px;
    }
  }
  .search_hotel {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    padding: 40px;
    border-radius: $br_12;
    background: $white;
    box-shadow: 20px 40px 48px 0px rgba(141, 147, 201, 0.05);
    .threeInput {
      display: flex;
      gap: 16px;
      width: 100%;
      .search-box {
        padding: 12px 16px;
        background: $gray_2;
        border-radius: $br_8;
        label {
          cursor: pointer;
          display: block;
          span {
            display: block;
            font-size: 14px;
            color: $textColor_m;
          }
          input {
            cursor: pointer;
            border: none;
            background: none;
            width: 100%;
            padding: 0;
            outline: #edecfe;
          }
          .dp-custom-cell,
          .dp__cell_inner:hover {
            border-radius: 50%;
          }
        }
        ::placeholder {
          color: $textColor_l;
        }
        &:hover {
          background: $searchColor;
        }
        &:focus-within {
          background: $searchColor;
        }
        .dp__cell_disabled,
        .dp__range_start,
        .dp__range_between,
        .dp__range_end {
          border-radius: 50%;
        }
      }
    }

    .btn_7 {
      border: none;
      width: 12%;
    }
    @media (max-width: 1000px) {
      padding: 32px;
    }
    @media (max-width: 850px) {
      padding: 24px;
      flex-direction: column;
      .btn_7 {
        height: 58px;
        width: 100%;
      }
    }
    @media (max-width: 500px) {
      padding: 20px;
      gap: 12px;
      .threeInput {
        flex-direction: column;
        gap: 8px;
        .search-box {
          width: 100%;
        }
      }
    }
    // 寵物類型下拉選單
    .dropDownParent {
      position: relative;
      display: none;
      label {
        pointer-events: none;
      }
      p {
        pointer-events: none;
      }
      span {
        pointer-events: none;
      }
      &.-show {
        display: block;
      }

      // & p.none {
      //   display: none;
      // }
      .dropDown {
        border: 1px solid #e6e6e6;
        position: absolute;
        padding: 16px;
        width: 100%;
        left: 0;
        bottom: -163px;
        background-color: white;
        border-radius: 8px;
        animation: slide-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        z-index: 99;
        &.none {
          display: none;
        }
        .dropDownItem {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px 0;

          .minus,
          .plus {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid #333;
            align-items: center;
            &.limit {
              border: 1px solid $gray_1;
              color: $gray_1;
            }
          }
          button {
            background-color: white;
          }
        }
        .line {
          border-bottom: 1px solid #e2e2e2;
        }
      }
    }
    // Datepicker
  }
  // search bar end

  .top_area_hotels {
    padding: 0 32px;
    @media (max-width: 414px) {
      padding: 0 20px;
    }
    .cards-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 40px 32px;
      .card {
        border: 1px solid $gray_1;
        border-radius: $br_12;
        overflow: hidden;
        flex-basis: calc(25% - 32px);
      }
      img {
        width: 100%;
      }
      .card_text {
        padding: 20px;
        :first-child {
          font-weight: 600;
        }
      }
      @media (max-width: 850px) {
        .card {
          flex-basis: calc(50% - 32px);
        }
      }
      @media (max-width: 500px) {
        .card {
          flex-basis: calc(100%);
        }
      }
    }
    @media (max-width: 850px) {
      .container {
        padding: 0 24px;
      }
    }
    @media (max-width: 500px) {
      .container {
        padding: 0 20px;
        h5 {
          margin-bottom: 20px;
        }
      }
    }
  }
  .point-hotel {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .cards_item {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 40px 32px;
      .card {
        border: 1px solid $gray_1;
        border-radius: $br_12;
        overflow: hidden;
        flex-basis: calc(25% - 32px); // 4 個一排，減去間距
        img {
          width: 100%;
        }
        .card_content {
          padding: 20px 16px;
          p {
            font-weight: 600;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
  // ------------ page 2 -- GO旅宿-hostel ------------

  .hotel-booking {
    padding: 0 32px;
    @media (max-width: 414px) {
      padding: 0 20px;
    }
    .jcsb {
      @include flex(row, space-between);
    }
    .top3 {
      display: flex;
      flex-direction: column;
      gap: 40px;
      @media (max-width: 850px) {
        padding: 0 24px;
        gap: 32px;
      }
      @media (max-width: 500px) {
        padding: 0 20px;
      }
      .top3_box {
        @include flex(row, space-between);
        flex-wrap: wrap;
        gap: 40px 32px;
        @media (max-width: 500px) {
          flex-direction: column;
        }
        .card {
          flex-basis: calc(33.33% - 32px);
          @media (max-width: 768px) {
            flex-basis: calc(50% - 32px);
          }
        }
        .card_image {
          margin-bottom: 20px;
          overflow: hidden;
          border-radius: $br_12;
          img {
            border-radius: $br_12;
            transition: all 0.3s ease-in-out;
            transform: scale(1);
            &:hover {
              transition: all 0.3s ease-in-out;
              transform: scale(1.1);
              // filter: blur(1px);
            }
          }
        }
        .card_content span {
          gap: 4px;
          padding: 2px 8px;
          border-radius: 4px;
          background-color: $gray_3;
          font-size: 14px;
        }
        .card_price {
          p {
            font-size: 14px;
            color: textColor_m;
            span {
              font-size: 20px;
              font-weight: 700;
            }
          }
          .star {
            // gap: 4px;
            img {
              width: 15px;
            }
            span {
              font-weight: normal;
              font-size: 14px;
              margin: 4px 0 0 4px;
            }
          }
        }
      }
    }
  }

  // ------------ page 3 -- GO旅宿-hostel ------------

  // -------- Page-3 滿版搜尋欄位--------
  .d_search-out {
    background-color: $purple_d;
    padding: 32px 120px;
    @media (max-width: 850px) {
      margin-bottom: 0;
      padding: 16px 32px;
    }
    .searchBar_p3 {
      margin-top: 0;
      padding: 0;
      background: none;
    }
    @media (max-width: 768px) {
      .onDis768 {
        display: none;
        width: 100%;
      }
      .onFat768 {
        width: 100%;
      }
    }
  }
  // -------- Page-3 pic carousel --------

  .swiper-slide {
    width: 60% !important;
    margin-left: 10px;
    margin-right: 10px;

    img {
      width: 100%;
      height: auto;
    }

    @media (max-width: 768px) {
      width: 100% !important;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 20px;
    font-weight: 700;
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    color: white;
  }

  // -------- Page-3 hostel_content --------
  .hostel_content {
    padding: 0 32px;
    @media (max-width: 414px) {
      padding: 0 20px;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
    // ------ 旅宿名 section ------ //
    .hostel-info {
      .name {
        display: flex;
        gap: 12px;
        .star {
          display: flex;
          gap: 4px;
        }
      }
      .address {
        display: flex;
        font-size: 20px;
        gap: 4px;
        margin-bottom: 20px;
      }
      .info {
        color: $textColor_m;
      }
      @media (max-width: 414px) {
        h3 {
          font-size: 28px;
        }
        .info p {
          text-align: justify;
        }
        .address {
          font-size: 16px;
        }
      }
    }
    // ------ 重點設施 section ------ //
    .hostel-system {
      .system_txt {
        margin-bottom: 20px;
      }
      .system_outline {
        padding: 24px 20px;
        border-radius: $br_12;
        border: 1px solid $gray_1;
        .icon_box {
          @include flex(row, space-evenly);
          flex-wrap: wrap;
          gap: 16px;
          .system_icon {
            @include flex(column);
            gap: 12px;
            flex-basis: calc(20% - 24px);
            .icon {
              width: 94px;
              height: 94px;
              border-radius: $br_12;
              background-color: #edecfe;
              img {
                transform: translate(22%, 36%);
              }
            }
            p {
              font-size: 20px;
              font-weight: 500;
              text-align: center;
            }
          }
        }
        @media (max-width: 500px) {
          padding: 24px 16px;
          .icon_box {
            justify-content: flex-start;
            gap: 20px 0;
            .system_icon {
              flex-basis: 33.33%;
              p {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    // ------ 住宿選擇 section ------ //
    .hostel-list h4 {
      margin-bottom: 20px;
    }
    .allRoom {
      display: flex;
      flex-direction: column;
      gap: 12px;
      border: 1px solid $gray_1;
      border-radius: 12px;
      padding: 20px;
      @media (max-width: 500px) {
        padding: 16px;
      }
      .allRoom_box {
        display: flex;
        gap: 32px;
        @media (max-width: 500px) {
          flex-direction: column;
        }
        .room-left img {
          border-radius: 12px;
        }
        .room-right {
          .info-top {
            display: flex;
            gap: 12px;
            width: 100%;
            .it-left,
            .it-right {
              display: flex;
              flex-direction: column;
              gap: 20px;
            }
            .i-title {
              font-weight: 500;
              padding: 8px 16px;
              background-color: $gray_2;
            }
            .i-memo {
              display: flex;
              gap: 8px;
            }
            p {
              padding: 0 16px;
              text-align: justify;
            }
            @media (max-width: 850px) {
              flex-direction: column;
              gap: 32px;
              .it-left,
              .it-right {
                width: 100%;
              }
            }
            .it-right {
              .checkBox {
                padding: 0 16px;
                display: flex;
                flex-direction: column;
                gap: 12px;
              }
              .radio-input {
                display: none;
              }
              .radioBox {
                .radio-label {
                  cursor: pointer;
                  padding-left: 2.5em;
                  position: relative;
                }
                .radio-button {
                  width: 24px;
                  height: 24px;
                  border: 1px solid #b3b3b3;
                  border-radius: 50%;
                  position: absolute;
                  left: 0;
                  transition: border-color 0.2s; /* 添加過渡效果 */
                  &::after {
                    content: "";
                    width: 12px;
                    height: 12px;
                    background: $black;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    margin: auto;
                    opacity: 0;
                    transition: opacity 0.2s;
                  }
                }
                .radio-input:checked + .radio-label .radio-button {
                  border-color: $black;
                }
                .radio-input:checked + .radio-label .radio-button::after {
                  opacity: 1;
                }
                .radio-label:hover .radio-button {
                  border-color: $black;
                }
              }
            }
          }
          .info_bottom {
            .spSubtotal {
              @include flex(row, flex-end);
              gap: 32px;
              border-top: 1px solid $gray_1;
              padding-top: 24px;
              margin-top: 24px;
              .spStepper {
                @include flex(row, flex-end);
                gap: 12px;
                width: 45%;
                .add {
                  display: flex;
                  gap: 4px;
                  input {
                    font-weight: 700;
                    font-size: 20px;
                  }
                  .spSubtotal_icon {
                    border: 1px solid $black;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    // > img {
                    //   width: 10px;
                    //   height: 10px;
                    //   transform: translate(10px, 10px);
                    // }

                    &.limit {
                      border: 1px solid $gray_1;
                      svg {
                        path {
                          fill: $gray_1;
                        }
                      }
                    }
                    svg {
                      width: 10px;
                      height: 10px;
                      transform: translate(10px, 10px);
                      path {
                        fill: $black;
                      }
                    }
                  }
                }
                h5 {
                  width: 48%;
                  text-align: right;
                }
              }
              .suButton {
                display: flex;
                gap: 12px;
                .btn_5 {
                  border: none;
                }
                .btn_5_border {
                  background: none;
                }
              }
              @media (max-width: 850px) {
                flex-direction: column;
                .spStepper {
                  width: 100%;
                  justify-content: space-between;
                }
                .suButton {
                  width: 100%;
                }
              }
            }
          }
        }

        svg {
          width: 10px;
          height: 10px;
          transform: translate(10px, 10px);

          path {
            fill: $black;
          }
        }
        input[type="number"] {
          text-align: center;
          width: 32px;
          border: none;
          height: 32px;

          //取消預設箭頭
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            -moz-appearance: textfield;
          }
        }
      }
    }
    // ------ 入住須知 section ------ //
    .notice {
      border-top: 1px solid $gray_1;
      padding-top: 32px;
      h5 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      ul {
        padding-left: 20px;
        li {
          list-style-type: disc;
          line-height: 2;
          text-align: justify;
        }
      }
    }
  }
} //滿版end
