//旅宿
.hostel {
  //滿版

  // Banner
  picture {
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  //Page-3 滿版搜尋欄位

  .d_search-out {
    background-color: $purple_d;
    padding: 32px 120px;
    @media (max-width: 768px) {
      margin-bottom: 0;
      padding: 16px 32px;
    }
    .search-bg {
      width: 100%;
    }
    .d_searchbar {
      display: flex;
      gap: 16px;
      .d_searchbox {
        display: flex;
        padding: 12px 16px;
        flex-direction: column;
        background-color: $gray_2;
        gap: 8px;
        border-radius: $br_8;
      }
      @media (max-width: 768px) {
        .t_dis {
          display: none;
        }
        .d_searchbox {
          padding: 6px 16px;
        }

        span {
          font-size: 14px;
          color: #555;
        }
        p > span {
          font-size: 12px;
          width: 42px;
          display: inline-block;
          text-align: center;
          margin-left: 12px;
          border-radius: 100px;
          border: 1px solid #333;
        }
      }
      .btn_7 {
        width: 170px;
      }
      @media (max-width: 768px) {
        .t_dis {
          display: none;
        }
      }
    }
    .carousel {
      width: 100%;
    }
  }

  // ------------ page 1 -- GO旅宿-hostel ------------
  .container {
    .seach-out {
      // gap: 24px;
      margin-top: -161px;
      .seach-title {
        h2 {
          color: #865214;
        }
      }

      .seach-bg {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        position: relative;
        padding: 40px;
        background-color: $white;
        border-radius: $br_12;
        /* Drop Shadow */
        box-shadow: 20px 40px 48.34000015258789px 0px rgba(141, 147, 201, 0.05);
        .seachbar {
          width: 100%;
          background-color: $white;
          border-radius: $br_12;
          display: flex;
          gap: 16px;
          .seachbox {
            display: flex;
            height: 76px;
            padding: 12px 16px;
            flex-direction: column;
            background-color: $gray_2;
            justify-content: center;
            gap: 8px;

            border-radius: $br_8;
            input {
              border: none;
              outline: none;
              background-color: transparent;
            }
          }
        }
        .btn_7 {
          margin-left: 16px;
        }
      }
    }
  }

  .top_area_hotels {
    padding: 0 32px;
    .cards-wraper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 40px 32px;
      .card {
        border: 1px solid $gray_1;
        border-radius: $br_12;
        overflow: hidden;
        flex-basis: calc(25% - 32px);
      }
      img {
        width: 100%;
      }
      .card_text {
        padding: 20px;
        :first-child {
          font-weight: 600;
        }
      }
      @media (max-width: 900px) {
        // justify-content: center;
        .card {
          flex-basis: calc(50% - 32px);
        }
      }
      @media (max-width: 500px) {
        .card {
          flex-basis: calc(100%);
        }
      }
    }
  }
  .point-hotel {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .cards_item {
      // @include flex(row, flex-start);
      // flex-wrap: wrap;
      // flex-basis: calc(25% - 10px); // 20% for 5 columns
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 40px 32px;
      .card {
        border: 1px solid $gray_1;
        border-radius: $br_12;
        overflow: hidden;
        flex-basis: calc(25% - 32px); // 4 個一排，減去間距
        img {
          width: 100%;
        }
        .card_content {
          padding: 20px 16px;
          p {
            font-weight: 600;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }

  // ------------ GO旅宿-hostel-booking ------------
  .container {
    .hotel-booking {
      .booking_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .card {
          margin-bottom: 32px;
          .card_image {
            border-radius: 12px;
            overflow: hidden;
          }
          .card_content {
            margin-top: 16px;
            margin-bottom: 4px;
            span {
              background-color: $gray_3;
              display: flex;
              border-radius: 4px;
              padding: 0px 4px;
              justify-content: center;
              align-items: center;
              gap: 2px;
            }
            display: flex;
            justify-content: space-between;
          }
          .card_price {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;
            .star {
              gap: 4px;
              display: flex;
            }
          }
        }
      }
      @media (max-width: 768px) {
        .card {
          width: 48%;
        }
      }

      @media (max-width: 414px) {
        .card {
          width: 100%;
        }
      }
    }
  }

  // page 1&2 RWD
  @media screen and (max-width: 768px) {
    .hostel {
      picture {
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
      .hostel-page1,
      .hostel-page2 {
        padding: 0 32px;
        // margin: 0 auto;
        .seach-out {
          // margin: -161px 32px 32px;
          .seach-bg {
            flex-wrap: wrap;
            gap: 12px;
            padding: 32px;
            .seachbar {
              gap: 16px;
              justify-content: space-between;
              .seachbox {
                padding: 8px 16px;
              }
            }
            .btn_7 {
              margin-left: 0;
            }
          }
        }
        .point-hotel {
          display: flex;
          flex-direction: column;
          gap: 40px;
          margin: 0 auto;
          .cards {
            gap: 32px;
            .cards_item {
              flex-wrap: wrap;
              gap: 32px;
            }
          }
        }
      } //page1 container end
    } //wrapper end
  } //RWD end

  @media screen and (max-width: 414px) {
    .hostel {
      .hostel-page1,
      .hostel-page2 {
        padding: 0px 16px;
        position: relative;
        .seach-out {
          .seach-title {
            position: absolute;
            top: -240px;
            left: 80px;
            h2 {
              text-align: center;
            }
          }

          .seach-bg {
            padding: 20px;
            .seachbar {
              flex-direction: column;
            }
          }
        }
      }
    } //wrapper end
  } // RWD 414 end

  // ------------ page 3 - GO旅宿-hostel-booking_detail ------------
  .container {
    .carousel {
      overflow: hidden;
      margin: 0 auto;
      .pic {
        gap: 20px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .hostel_content {
    padding: 0 32px;
    .container {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
    // ------ 旅宿名 section ------ //
    .hostel-info {
      .name {
        display: flex;
        gap: 12px;
        .star {
          display: flex;
          gap: 4px;
        }
      }
      .address {
        display: flex;
        font-size: 20px;
        gap: 4px;
        margin-bottom: 20px;
      }
      .info {
        color: $textColor_m;
      }
      @media (max-width: 768px) {
        h3 {
          font-size: 28px;
        }
        .info p {
          text-align: justify;
        }
      }
    }

    // ------ 重點設施 section ------ //
    .hostel-system {
      .system_txt {
        margin-bottom: 20px;
      }
      .system_outline {
        padding: 24px 20px;
        border-radius: $br_12;
        border: 1px solid $gray_1;
        @include flex(row, space-evenly);
        flex-wrap: wrap;
        gap: 16px;
        .system_icon {
          flex-basis: calc(20% - 13px); // 20% for 5 columns
          @include flex(column);
          gap: 12px;
          .icon {
            width: 94px;
            height: 94px;
            border-radius: $br_12;
            background-color: #edecfe;
            img {
              transform: translate(22%, 36%);
            }
          }
          p {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
          }
        }
        @media (max-width: 680px) {
          justify-content: flex-start;
          .system_icon {
            flex-basis: calc(33.33% - 11px); // 33.33% for 3 columns
          }
        }
        @media (max-width: 480px) {
          .system_icon {
            flex-basis: calc(50% - 10px); // 50% for 2 columns
          }
        }
      }
    }

    // ------ 住宿選擇 section ------ //
    .hostel-list h4 {
      margin-bottom: 20px;
    }
    .allRoom {
      display: flex;
      gap: 32px;
      border: 1px solid $gray_1;
      border-radius: 12px;
      padding: 20px;
      @media (max-width: 500px) {
        flex-direction: column;
      }
      .room-left img {
        border-radius: 12px;
      }
      .room-right {
        .info-top {
          display: flex;
          gap: 12px;
          width: 100%;
          .it-left,
          .it-right {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }
          .i-title {
            font-weight: 500;
            padding: 8px 16px;
            background-color: $gray_2;
          }
          .i-memo {
            display: flex;
            gap: 8px;
          }
          p {
            padding: 0 16px;
            text-align: justify;
          }
          @media (max-width: 900px) {
            flex-direction: column;
            gap: 32px;
            .it-left,
            .it-right {
              width: 100%;
            }
          }
          .it-right {
            .checkBox {
              padding: 0 16px;
              display: flex;
              flex-direction: column;
              gap: 12px;
            }
            .radio-input {
              display: none;
            }
            .radioBox {
              .radio-label {
                cursor: pointer;
                padding-left: 2.5em;
                position: relative;
              }
              .radio-button {
                width: 24px;
                height: 24px;
                border: 1px solid #b3b3b3;
                border-radius: 50%;
                position: absolute;
                left: 0;
                transition: border-color 0.2s; /* 添加過渡效果 */
                &::after {
                  content: "";
                  width: 12px;
                  height: 12px;
                  background: $black;
                  border-radius: 50%;
                  position: absolute;
                  top: 0;
                  right: 0;
                  left: 0;
                  bottom: 0;
                  margin: auto;
                  opacity: 0;
                  transition: opacity 0.2s;
                }
              }
              .radio-input:checked + .radio-label .radio-button {
                border-color: $black;
              }
              .radio-input:checked + .radio-label .radio-button::after {
                opacity: 1;
              }
              .radio-label:hover .radio-button {
                border-color: $black;
              }
            }
          }
        }
        .info_bottom {
          .spSubtotal {
            @include flex(row, flex-end);
            gap: 32px;
            border-top: 1px solid $gray_1;
            padding-top: 24px;
            margin-top: 24px;
            .spStepper {
              @include flex();
              gap: 32px;
              .add {
                display: flex;
                gap: 4px;
                input {
                  font-weight: 700;
                  font-size: 20px;
                }
                .spSubtotal_icon {
                  border: 1px solid #b3b3b3;
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  > img {
                    width: 10px;
                    height: 10px;
                    transform: translate(10px, 10px);
                  }
                  &:first-child {
                    border: 1px solid $gray_1;
                  }
                }
                input[type="text"] {
                  outline: none;
                  border: none;
                  text-align: center;
                  width: 32px;
                }
              }
            }
            .suButton {
              display: flex;
              gap: 12px;
              .btn_5 {
                border: none;
              }
              .btn_5_border {
                background: none;
              }
            }
            @media (max-width: 900px) {
              flex-direction: column;
              .spStepper {
                width: 100%;
                justify-content: space-between;
              }
              .suButton {
                width: 100%;
              }
            }
          }
        }
      }
    }
    // ------ 入住須知 section ------ //
    .notice {
      border-top: 1px solid $gray_1;
      padding-top: 32px;
      h5 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      ul {
        padding-left: 20px;
        li {
          list-style-type: disc;
          line-height: 2;
          text-align: justify;
        }
      }
    }
  }
} //滿版end
