//旅宿
.hostel {
  .hostelbgimg {
    margin: 0 auto;
    width: 100%;
  }

  .container {
    margin: 0 auto;
    .seach-out {
      gap: 24px;
      margin-top: -213px;

      .seach-title {
        h2 {
          color: #865214;
        }
      }

      .seach-bg {
        margin-top: 24px;
        position: relative;
        padding: 40px;
        background-color: $white;
        border-radius: $br_12;
        .seachbar {
          background-color: $white;
          border-radius: $br_12;
          display: flex;
          gap: 16px;

          .seachbox {
            display: flex;
            height: 76px;
            padding: 12px 16px;
            flex-direction: column;
            background-color: $gray_2;
            justify-content: center;
            gap: 8px;
            flex: 1 0 0;
            border-radius: $br_8;
            input {
              border: none;
              outline: none;
              background-color: transparent;
            }
          }
        }
      }
    }

    .point-hotel {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;

      .cards_item {
        display: flex;
        width: 1200px;
        align-items: flex-start;
        gap: 33px;
      }
      .card {
        border: 1px solid #e0e0e0;
        border-radius: $br_12;
        height: 243px;
        padding: 1px;
        flex: 1 0 0;
        overflow: hidden;
        .card_content {
          padding: 19px 17px 20px 12px;
          .p {
            font-size: $fontsize;
            font-weight: 600;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
  // GO旅宿-hostel-booking

  .hotel-booking {
    .cards_item {
      display: flex;
      gap: 32px;

      .card_image {
        border-radius: 12px;
        overflow: hidden;
      }
      .card_content {
        margin-top: 16px;
        margin-bottom: 4px;
        span {
          background-color: $gray_3;
          display: flex;
          border-radius: 4px;
          padding: 0px 4px;
          justify-content: center;
          align-items: center;
          gap: 2px;
        }
        display: flex;
        justify-content: space-between;
      }
      .card_price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        .star {
          gap: 4px;
          display: flex;
        }
      }
    }
  }

  // GO旅宿-hostel-booking_detail

  .d_seach-out {
    background-color: $purple_d;
    display: flex;
    padding: 32px 120px;
    .seach-bg {
      width: 100%;
    }
    .d_seachbar {
      border-radius: $br_12;
      display: flex;
      gap: 16px;

      .d_seachbox {
        display: flex;
        padding: 12px 16px;
        flex-direction: column;
        background-color: $gray_2;
        justify-content: center;
        gap: 8px;
        flex: 1 0 0;
        border-radius: $br_8;
        span {
          font-size: 14px;
          color: #555;
        }
        p > span {
          font-size: 12px;
          color: dark;
          width: 42px;
          gap: 10px;
          display: inline-block;
          text-align: center;
          margin-left: 12px;
          border-radius: 100px;
          border: 1px solid #333;
        }
      }
      .btn_7 {
        width: 170px;
      }
    }
  }
  //   輪播圖

  .container {
    overflow: hidden;
    .carousel {
      flex-shrink: 0;
      margin: 0 auto;
      .pic {
        gap: 20px;
        display: flex;
        justify-content: center;
      }
    }
    .name {
      display: flex;
      .star {
        display: flex;
      }
    }
    .address {
      display: flex;
      font-size: 20px;
      gap: 4px;
      margin-bottom: 12px;
      color: #333;
    }
    .info {
      color: #555;
    }

    .system {
      .sys_txt {
        margin-bottom: 20px;
      }
      .outline {
        padding: 24px 20px;
        border-radius: 12px;
        border: 1px solid $gray_1;
        .icon_out {
          display: flex;
          justify-content: space-evenly;
          .icon {
            width: 94px;
            height: 94px;
            border-radius: $br_12;
            padding: 30px 20px;
            background: rgba(110, 96, 246, 0.12);
          }
        }
      }
    }
    .allroom {
      .dog-room {
        border-radius: $br_12;
        border: 1px solid #e0e0e0;
        padding: 20px;
        font-size: 30px;
        h5 {
          margin-bottom: 14px;
        }
      }
      .detail {
        display: flex;
        .leftimg {
          border-radius: $br_12;
        }
        .d_info {
          display: flex;
          gap: 12px;
          flex-wrap: wrap;
          justify-content: flex-end;
          .info-left {
            width: 327px;
            font-size: $fontsize;
            margin-bottom: 24px;
            .i-title p {
              color: $black;
              padding: 8px 16px;
              background-color: $gray_2;
            }
            .i-text p {
              padding: 20px 16px;
            }
            .i-memo {
              padding: 0 20px;
              gap: 8px;
              color: $black;
              display: flex;
            }
          }
          // 右邊狗狗體型
          .info-right {
            width: 327px;
            font-size: $fontsize;
            margin-bottom: 24px;
            .i-title p {
              color: $black;
              padding: 8px 16px;
              background-color: $gray_2;
            }
            .i-text p {
              padding: 20px 16px;
            }
            .i-memo {
              padding: 0 20px;
              gap: 8px;
              color: $black;
              display: flex;
            }
          }
          .addproduct {
            width: 666px;
            border-top: 1px solid $gray_1;
          }
        }

        // 貓套房
      }
    }
  }
}
