//  -------------- 進場動畫 --------------------------------------------------------
#index-box {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  // #preloader {
  //   height: 100vh;
  // }

  #myHeading {
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }
}

.dot {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  z-index: -1;
}
//  -------------- banner --------------------------------------------------------
@font-face {
  font-family: "jf-openhuninn";
  src: url(../font/jf-openhuninn-2.woff);
}

.new-banner {
  position: relative;
  overflow: hidden;
  .banner_bg {
    height: 100%;
    picture > img {
      width: 100%;
    }
  }
  .banner_wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1440px;
    height: 100%;
    padding: 0 40px;
    div {
      position: absolute;
    }
    .g01 {
      rotate: 135deg;
      top: 0;
      left: 10%;
      z-index: -1;
      animation: moveArrowDown 1.5s ease-in-out infinite alternate;
    }
    .g02 {
      rotate: 180deg;
      bottom: -40%;
      left: 50%;
      animation: moveArrowDown 1.5s ease-in-out infinite alternate;
    }
    @keyframes moveArrowDown {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
    }
    .banner_txt {
      top: 50%;
      transform: translateY(-50%);
      color: #f6f6ff;
      font-family: "jf-openhuninn";

      .top_txt {
        font-size: 28px;
        color: #ffd333;
        border-radius: 50px 0px 50px 50px;
        border: 8px #ffd333 solid;
        padding: 4px 24px;
        top: -30%;
        right: 13%;
        z-index: 1;
        animation: float 1.5s ease-in-out infinite alternate;
      }
      @keyframes float {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(10%);
        }
      }
      .big_txt {
        position: relative;
        .small_text {
          position: relative;
          @include flex();
          width: 100%;
          margin-top: 40px;
          font-size: 24px;
        }
      }
    }
  }
  .start_svg {
    top: 22%;
    right: -10%;
  }
  .circle_svg {
    top: 45%;
    left: 45%;
  }
  .start_svg,
  .circle_svg {
    animation: fireworks 3s ease-in-out infinite;
  }
  @keyframes fireworks {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    10% {
      opacity: 0.5;
      transform: scale(0.5);
    }
    20% {
      opacity: 0.8;
      transform: scale(0.8);
    }
    30% {
      opacity: 1;
      transform: scale(1);
    }
    40% {
      opacity: 1;
      transform: scale(1.2);
    }
    50% {
      opacity: 0.8;
      transform: scale(1.4);
    }
    100% {
      opacity: 0;
      transform: scale(1.6);
    }
  }
  //  -------------- banner RWD --------------------------
  @media (max-width: 1920px) {
    .start_svg {
      top: 22%;
      right: 0;
    }
    .circle_svg {
      top: 44%;
      left: 45%;
    }
  }
  @media (max-width: 1550px) {
    .start_svg {
      right: 5%;
    }
    .circle_svg {
      top: 43%;
    }
  }
  @media (min-width: 1160px) and (max-width: 1280px) {
    .banner_wrap .banner_txt .top_txt {
      right: 23%;
    }
    .big_txt {
      width: 90%;
    }
  }
  @media (min-width: 1001px) and (max-width: 1159px) {
    .banner_wrap .banner_txt .top_txt {
      right: 33%;
    }
    .big_txt {
      width: 80%;
    }
  }
  @media (min-width: 821px) and (max-width: 1000px) {
    .white-paGo {
      max-width: none;
    }
  }
  @media (max-width: 1000px) {
    .banner_wrap {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .banner_txt {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .g02 {
        bottom: 20%;
      }
      .start_svg {
        top: 50%;
        right: 20%;
      }
      .circle_svg {
        top: 65%;
        left: 12%;
      }
    }
  }
  @media (max-width: 820px) {
    .banner_wrap {
      .blink {
        max-width: 100px;
      }
      .banner_txt {
        .g02 {
          bottom: -10%;
          left: 30.8%;
        }
        .top_txt {
          font-size: 22px;
          top: -32%;
          right: 17%;
        }
        .big_txt {
          .white-paGo {
            max-width: 500px;
          }
          .small_text {
            font-size: 18px;
            margin-top: 0;
            padding-right: 20px;
            justify-content: flex-end;
          }
        }
      }
    }
    @keyframes fireworks {
      0% {
        opacity: 1;
        transform: scale(0);
      }
      10% {
        opacity: 0.5;
        transform: scale(0.5);
      }
      20% {
        opacity: 0.8;
        transform: scale(0.8);
      }
      30% {
        opacity: 1;
        transform: scale(1);
      }
      40% {
        opacity: 1;
        transform: scale(1.1);
      }
      50% {
        opacity: 0.8;
        transform: scale(1.2);
      }
      100% {
        opacity: 0;
        transform: scale(1.3);
      }
    }
  }
  @media (max-width: 768px) {
    .banner_wrap {
      .blink {
        max-width: 90px;
      }
      .banner_txt {
        .big_txt {
          .white-paGo {
            max-width: 450px;
          }
        }
      }
    }
  }
  @media (max-width: 510px) {
    .banner_wrap {
      .banner_txt {
        .g02 {
          bottom: -40%;
          left: 48.8%;
        }
        .top_txt {
          font-size: 20px;
          right: 14%;
          padding: 2px 16px;
          border: 6px solid;
        }
        .big_txt {
          .white-paGo {
            max-width: 350px;
          }
          .small_text {
            justify-content: center;
            padding-right: 0;
            margin-top: 20px;
          }
        }
      }
      .start_svg {
        right: 0;
      }
      .circle_svg {
        left: 0;
        max-width: 50px;
      }
    }
  }
  @media (max-width: 390px) {
    .banner_wrap {
      .g_arrow {
        max-width: 70px;
      }
      .banner_txt {
        .g02 {
          left: 51.8%;
        }
        .big_txt .white-paGo {
          max-width: 300px;
        }
      }
    }
  }
}
//  -------------- banner --------------------------------------------------------

//  -------------- 首頁 --------------------------------------------------------
.index {
  display: none;
  .banner {
    padding-top: 20px;
    overflow: hidden;
    // height: 560px;
    background: #955ffd;
    @include flex(row, space-between);
    .banner_text {
      color: $white;
      margin-left: 7.5em;
      h6 {
        font-weight: 300;
      }
      @media (max-width: 1000px) {
        margin-left: 3em;
        h1 {
          font-size: 40px;
        }
      }
    }
    @media (max-width: 434px) {
      height: 615px;
      background-size: 100%;
      flex-direction: column;
      img {
        position: relative;
        left: 40px;
      }
      .banner_text {
        margin-left: 0;
        text-align: center;
        margin-top: 4.5em;
        h1 {
          margin-bottom: 0.5em;
        }
      }
    }
    @media (max-width: 375px) {
      height: 590px;
    }
  }
  .section_p120 {
    padding: 0 120px;
    @media (max-width: 1000px) {
      padding: 0 32px;
    }
  }
  .section_1 {
    // padding: 0 32px;
    .entrance {
      @include flex();
      gap: 40px;
      .ent_boxText {
        margin-top: 40px;
        text-align: center;
        h3 {
          color: $purple_d;
          margin-bottom: 8px;
        }
        .letGo {
          @include flex();
          font-size: 20px;
          font-weight: 700;
          color: $purple_d;
          margin-top: 20px;
          //   border-bottom: 1px solid $purple_d;
          img {
            animation: moveRightGo 1s infinite alternate ease-in-out;
          }
        }
      }
      @media (max-width: 434px) {
        flex-direction: column;
      }
    }
  }
  @keyframes moveRightGo {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(30%);
    }
  }
  .section_2 {
    background: #16122c;
    color: #f6f6ff;
    padding: 150px 32px;
    font-family: "jf-openhuninn";
    // 設定背景色變化
    position: relative;
    --mouse-x: -50px;
    --mouse-y: 0px;
    --color: #ffd333;
    ::before {
      content: "";
      background: radial-gradient(
        circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 211, 51, 0.3),
        transparent 3%
      );
      position: absolute;
      inset: 0;
      transition: 1s;
      opacity: 0.1;
    }
    :hover::before {
      opacity: 1;
    }
    h4 {
      text-align: center;
      margin-bottom: 60px;
      span {
        // color: $green;
        color: $purple;
      }
    }
    .blackBox {
      @include flex(row, space-evenly);
      gap: 32px;
      text-align: center;
      h5 {
        // color: $green;
        color: $purple;
        margin-bottom: 8px;
      }
      p {
        font-size: 20px;
      }
    }
    @media (max-width: 820px) {
      padding: 100px 32px;
      h4 {
        margin-bottom: 40px;
      }
      .blackBox {
        h5 {
          font-size: 22px;
        }
        p {
          font-size: 16px;
        }
      }
    }
    @media (max-width: 434px) {
      padding: 60px 32px;
      .blackBox {
        @include flex(column);
        gap: 40px;
        .box {
          width: 100%;
        }
      }
    }
  }
  .section_3 {
    // padding: 0 32px;
    .jcsb {
      @include flex(row, space-between);
    }
    .top3 {
      display: flex;
      flex-direction: column;
      gap: 40px;
      @media (max-width: 768px) {
        gap: 32px;
      }
      .top3_box {
        @include flex(row, space-between);
        gap: 32px;
        @media (max-width: 434px) {
          flex-direction: column;
        }
        .card_image {
          margin-bottom: 20px;
          overflow: hidden;
          border-radius: $br_12;
          img {
            border-radius: $br_12;
            transition: all 0.3s ease-in-out;
            transform: scale(1);
            &:hover {
              transition: all 0.3s ease-in-out;
              transform: scale(1.1);
              // filter: blur(1px);
            }
          }
        }
        .card_content span {
          gap: 4px;
          padding: 2px 8px;
          border-radius: 4px;
          background-color: $gray_3;
          font-size: 14px;
        }
        .card_price {
          p {
            font-size: 14px;
            color: textColor_m;
            span {
              font-size: 20px;
              font-weight: 700;
            }
          }
          .star {
            // gap: 4px;
            img {
              width: 15px;
            }
            span {
              font-weight: normal;
              font-size: 14px;
              margin: 4px 0 0 4px;
            }
          }
        }
      }
    }
  }
}
