//首頁
.index {
  .banner {
    padding-top: 20px;
    overflow: hidden;
    // height: 560px;
    background: #955ffd;
    // background-image: url("/images/banner/index_banner.svg");
    // background-position: right bottom;
    // background-repeat: no-repeat;
    @include flex(row, space-between);
    .banner_text {
      color: $white;
      margin-left: 7.5em;
      @media (max-width: 1000px) {
        margin-left: 2em;
      }
    }
    @media (max-width: 768px) {
      // .banner_text {
      //   margin-left: 2.5em;
      // }
    }
    @media (max-width: 434px) {
      height: 615px;
      background-size: 100%;
      flex-direction: column;
    }
  }
  .section_p120 {
    padding: 0 120px;
    @media (max-width: 1000px) {
      padding: 0 32px;
    }
  }
  .section_1 {
    // padding: 0 32px;
    .entrance {
      @include flex();
      gap: 40px;
      .ent_boxText {
        margin-top: 40px;
        text-align: center;
        h3 {
          color: $purple_d;
          margin-bottom: 8px;
        }
        .letGo {
          @include flex();
          font-size: 20px;
          font-weight: 700;
          color: $purple_d;
          margin-top: 20px;
          //   border-bottom: 1px solid $purple_d;
        }
      }
      @media (max-width: 434px) {
        flex-direction: column;
      }
    }
  }
  .section_2 {
    background: #16122c;
    color: $white;
    padding: 100px 32px;
    // 設定背景色變化
    position: relative;
    --mouse-x: 0px;
    --mouse-y: 0px;
    --color: #36347c1a;
    ::before {
      content: "";
      background: radial-gradient(
        circle at var(--mouse-x) var(--mouse-y),
        var(--color),
        transparent 70%
      );
      position: absolute;
      inset: 0;
      transition: 1s;
      opacity: 0.1;
    }
    :hover::before {
      opacity: 1;
    }
    h4 {
      text-align: center;
      margin-bottom: 60px;
      span {
        color: $green;
      }
    }
    .blackBox {
      @include flex(row, space-evenly);
      gap: 32px;
      text-align: center;
      h5 {
        color: $green;
        margin-bottom: 8px;
      }
    }
    @media (max-width: 768px) {
      padding: 60px 32px;
      h4 {
        margin-bottom: 40px;
      }
    }
    @media (max-width: 434px) {
      padding: 60px 32px;
      .blackBox {
        @include flex(column);
        gap: 40px;
        .box {
          width: 100%;
        }
      }
    }
  }
  .section_3 {
    // padding: 0 32px;
    .jcsb {
      @include flex(row, space-between);
    }
    .top3 {
      display: flex;
      flex-direction: column;
      gap: 40px;
      @media (max-width: 768px) {
        gap: 32px;
      }
      .top3_box {
        @include flex(row, space-between);
        gap: 32px;
        @media (max-width: 434px) {
          flex-direction: column;
        }
        .card_image {
          margin-bottom: 20px;
          overflow: hidden;
          border-radius: $br_12;
          img {
            border-radius: $br_12;
            transition: all 0.3s ease-in-out;
            transform: scale(1);
            &:hover {
              transition: all 0.3s ease-in-out;
              transform: scale(1.1);
              // filter: blur(1px);
            }
          }
        }
        .card_content span {
          gap: 4px;
          padding: 2px 8px;
          border-radius: 4px;
          background-color: $gray_3;
          font-size: 14px;
        }
        .card_price {
          p {
            font-size: 14px;
            color: textColor_m;
            span {
              font-size: 20px;
              font-weight: 700;
            }
          }
          .star {
            // gap: 4px;
            img {
              width: 15px;
            }
            span {
              font-weight: normal;
              font-size: 14px;
              margin: 4px 0 0 4px;
            }
          }
        }
      }
    }
  }
}
