//會員
.member-main {
  padding: 100px 32px;
  @include flex(row, center, flex-start);
  gap: 32px;
  @media (max-width: 768px) {
    padding: 60px 32px;
  }
  @media (max-width: 414px) {
    flex-direction: column;
    align-items: center;
    padding: 60px 16px;
  }
  // ------ 會員左邊欄設定 -------------------------------
  .slide-bar {
    @include flex(column);
    border-radius: $br_12;
    background-color: $white;
    padding: 20px 0;
    gap: 40px;
    ul {
      width: 96px;
      //會員頁面切換 需換字的顏色
      #on_page {
        color: $purple;
        fill: $purple;
      }
      li {
        margin-bottom: 24px;
        padding-bottom: 12px;
        border-bottom: 1px solid $gray_1;
        a,
        svg {
          font-weight: 700;
          color: $purple_d;
          fill: $purple_d;
          display: flex;
          gap: 8px;
        }
        a.on_page {
          color: #6e60f6;
          svg {
            color: #6e60f6;
          }
        }
      }
    }
    .btn_4_border {
      width: 96px;
      color: $purple_d;
      background-color: $white;
      border: 1px solid $gray_1;
      // :hover {
      //   預留位置寫變化
      // }
    }
    @media (max-width: 414px) {
      gap: 24px;
      ul {
        width: 100%;
        @include flex(row, space-around, center);
        li {
          border-right: 1px solid $gray_1;
          margin-bottom: 0;
          border-bottom: none;
          padding: 0 12px;
          a,
          svg {
            // display: block;
            // margin: 0 auto;
            flex-direction: column;
            align-items: center;
          }
        }
        li:last-child {
          border: none;
        }
      }
      .btn_4_border {
        width: 95%;
      }
    }
    @media (max-width: 375px) {
      ul li {
        padding: 0 8px;
      }
    }
  }
  // ------ 會員右邊欄設定 -------------------------------
  .mr-bg {
    // background-color: $white;
    border-radius: $br_12;
    // padding: 24px;
    align-self: stretch;
  }

  .member-box {
    // 共用flex設定
    .order2 {
      background-color: $white;
      border-radius: $br_12;
      padding: 24px;
      margin-bottom: 24px;
      // font-size: 18px;
      // font-weight: 500;
    }
    .jcSb {
      @include flex(row, space-between);
    }
    // ------ 訂單記錄 ------
    // -- 無訂單
    .kite {
      @include flex(column);
      gap: 20px;
      height: 100%;
      .kite-flex{
        @include flex(column);
        height: 100%;
      }
    }
    // -- 有訂單記錄
    ul li {
      background-color: $white;
      border-radius: $br_12;
      padding: 24px;
      margin-bottom: 24px;
      font-size: 18px;
      font-weight: 500;
    }
    .ol-header {
      font-weight: bold;
      .rotateBtn {
        transform: rotate(180deg);
      }
    }
    .ol-content {
      margin-top: 24px;
      // display: none;
      .ol-contentBox {
        @include flex();
        gap: 24px;
        @media (max-width: 414px) {
          img {
            display: none;
          }
        }
        .ol-ContText {
          width: 100%;
        }
        .ol-info {
          margin-top: 4px;
        }
      }
    }
    .ol-money {
      border-top: 1px solid $gray_1;
      border-bottom: 1px solid $gray_1;
      padding: 24px 0;
      // display: none;
    }
    .ol-count {
      span {
        font-size: 24px;
        font-weight: bold;
      }
    }
    .ol-total {
      // display: none;
      .ol-count span {
        font-size: 28px;
      }
      p:nth-child(2) {
        margin: 24px 0;
        @include flex(row, flex-end);
        gap: 8px;
        span {
          color: #d63900;
        }
      }
    }
    .active > .ol-content,
    .active > .ol-money,
    .active > .ol-total {
      display: block;
    }
    .btn_4_border {
      width: 144px;
      background: none;
      margin-left: auto;
    }
    .ol-button {
      display: flex;
      align-items: center;
      gap: 24px;
      span {
        font-size: 28px;
        @media screen and (max-width: 414px) {
          display: none;
        }
      }
      .arrowIcon {
        transform: rotate(180deg);
        cursor: pointer;
      }
      .active_arrow {
        transform: rotate(0deg);
      }
    }
    // ------ 我的點數 ------
    // points
    .points-use {
      border: 1px solid $gray_1;
      border-radius: $br_12;
      padding: 24px;
      h6 {
        font-size: 24px;
        margin-bottom: 16px;
      }
      p {
        text-align: justify;
        font-weight: 500;
      }
    }
    .table-wrap {
      overflow: hidden;
      border-radius: $br_12;
      border: 1px solid $gray_1;
      table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        tr {
          th {
            background-color: $purple;
            color: $white;
            padding: 14px 16px;
            font-weight: bold;
            font-size: 18px;
          }
          td {
            background-color: $white;
            padding: 14px 16px;
            text-align: center;
          }
        }
        @media (max-width: 434px) {
          tr {
            th,
            td {
              padding: 14px 8px;
              font-size: 14px;
            }
          }
        }
        @media (max-width: 375px) {
          tr {
            th,
            td {
              padding: 14px 4px;
              letter-spacing: -0.5px;
            }
          }
        }
      }
    }
    // ------ 貼文 ------
    .post-info {
      border-top-left-radius: $br_8;
      border-top-right-radius: $br_8;
      background-color: $purple;
      color: $white;
      @include flex($jc: flex-start);
      gap: 24px;
      padding: 14px 20px;
      p {
        font-weight: bold;
        width: 100px;
      }
    }
    .post-detail {
      display: flex;
      gap: 24px;
      padding: 14px 20px;
      border-left: 1px solid $gray_1;
      border-right: 1px solid $gray_1;
      border-bottom: 1px solid $gray_1;
      a{
        img{
          max-width: none;
        }
      }
      .post-date-delete {
        @include flex($jc: space-between);
        width: 100%;
        img {
          cursor: pointer;
        }
      }
      .lightbox{
        display: none;
        &:target{
          display:block;
        }
        span {
          /* Full width and height */
          display: block;
          width: 50%;
          height: 50%;
          margin: 0 auto;
          margin-top: 170px;
        
          /* Size and position background image */
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
    // ------ 個人資料 ------
    .personal-info {
      @include flex(column, normal, normal);
      gap: 24px;
      margin: 36px 0;
      .pi-box {
        display: flex;
        gap: 24px;
        @media (max-width: 414px) {
          flex-direction: column;
        }
        .pi-box-half {
          width: 100%;
          label {
            display: block; /* 讓label顯示為區塊元素 */
            margin-bottom: 4px;
            font-weight: 500;
          }
          input {
            width: 100%;
            height: 48px;
            padding: 0 12px;
            border-radius: $br_8;
            border: 1px solid $gray_1;
          }
          ::placeholder {
            color: $textColor_l;
            font-weight: 400;
          }
          .email-bg {
            background: $gray_4;
          }
        }
      }
    }
    .btn_5 {
      width: 144px;
      border: none;
      margin: auto;
      @media (max-width: 414px) {
        width: 100%;
      }
    }
  }
}
// @media screen and (max-width: 768px) {
//   width: 100%;
//   padding: 32px;
// }

// @media screen and (max-width: 375px) {
//   padding: 16px;
// }
