// 購物車
.shopping {

    .shopping_container {
        @include flex();
        height: 167px;

        //步驟塊
        .shipping_step_box {
            @include flex(row, space-between);

            .shipping_step {
                p {
                    text-align: center;
                    margin: 0;
                    margin-top: 8px;
                    line-height: 1.1;
                    font-size: 18px;
                }

                .shipping_step_number {
                    @include flex();
                    margin-bottom: 11px;

                    p {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background-color: $green;
                        border-radius: 50%;
                        line-height: 40px;
                        color: $white;
                    }
                }
            }
        }
    }

    //購物車內頁（想替換的內容）
    .shoppingMain_bg {
        // @include layout(100);
        // background-color: $gray_2;
        padding-top: 100px;

        .shoppingMian_title {
            @include layout(1200);
            font-weight: 700;
            padding-bottom: 32px;
        }

        //廣告區（待套）
        .ad_box {
            .ad {
                height: 168px;
                background-color: cornsilk
            }
        }

        .shoppingMain {
            @include layout(1200);
            @include flex(row, center, flex-start);
            gap: 32px;
            margin-bottom: 48px;

            //白底區塊
            .shopping_card {
                background-color: $white;
                border-radius: $br_12;
                padding: 24px;
                margin-bottom: 27px;
                position: relative;

                //所有checkbox
                input[type="checkbox"] {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80%;
                    height: 80%;
                    margin: 0;
                    display: block;
                    z-index: 5;

                    //所有checkbox被選定
                    &:checked+label::after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 6px;
                        width: 8px;
                        height: 14px;
                        border: solid $black;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg) translateY(-3px);
                    }
                }

                label {
                    position: relative;
                    line-height: 22px;
                    display: inline-flex;
                    align-items: center;

                    &::before {
                        content: "";
                        background-color: transparent;
                        border: 1px solid #333;
                        display: block;
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                        border-radius: 2px;
                        margin-right: 12px;
                        flex-shrink: 0;
                    }
                }

                .shoppingCardup {
                    display: flex;
                    gap: 20px;
                    padding-bottom: 32px;
                    border-bottom: 1px solid $gray_1;
                }

                .shopping_subtotal {
                    padding-top: 32px;
                }
            }

            //左半
            .shoppingMain_left {
                .shopping_buy_text {
                    width: 100%;

                    .shopping_list_up {
                        @include flex(row, space-between);
                        // display: flex;
                        // justify-content: space-between;
                        margin-bottom: 16px;

                        h6 {
                            font-weight: 700;
                        }
                    }

                    .shopping_list_down {
                        display: flex;
                        gap: 10px;
                        text-align: center;
                        align-items: center;
                        flex-wrap: wrap;

                        p {
                            text-align: left;
                        }
                    }
                }

                //叫車
                .shoppingDriver {
                    .shopping_list_down {
                        p {
                            &:first-child {
                                &::after {
                                    content: "|";
                                    position: absolute;
                                    transform: translate(10px, -1px);
                                }
                            }
                        }
                    }
                }

                //旅宿
                .shoppingHostel {
                    .shopping_list_down {
                        p {
                            &:first-child {
                                &::after {
                                    content: "-";
                                    position: absolute;
                                    transform: translate(8px, -1px);
                                }
                            }

                            &:last-child {
                                &::before {
                                    content: "|";
                                    position: absolute;
                                    transform: translate(-17px, -1px);
                                }
                            }
                        }
                    }
                }

                //小計
                .shoppingSubtotal {
                    padding-top: 32px;
                    text-align: end;

                    @include flex(row, end);

                    .shoppingStepper {
                        @include flex();
                        gap: 4px;

                        input[type="text"] {
                            border: none;
                            outline: none;
                            width: 100%;
                            text-align: center;
                            width: 32px;
                        }

                        .shoppingSubtotal_icon {
                            border: 1px solid $black;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;

                            &:first-child {
                                border: 1px solid $gray_1;
                            }

                            img {
                                width: 10px;
                                height: 10px;
                                transform: translate(10px, 10px);
                            }

                        }
                    }

                    p {
                        font-weight: 700;
                        font-size: 24px;
                    }
                }
            }

            //總計
            .shoppingMain_right {
                .shoppingOrder_total {
                    @include flex(row, space-between);

                    p {
                        font-size: 18px;
                    }
                }

                .shopping_next {
                    border: none;
                    outline: none;
                }
            }
        }
    }

}