// 購物車
.shopping {

    //共用模組
    input[type="text"] {
        border: none;
        outline: none;
        height: 48px;
    }

    //步驟區塊
    .spStep_bg {
        @include flex();
        height: 169px;
        background-color: $white;

        .spStep_box {
            @include flex(row, space-between);

            .spStep {

                @include flex(column);
                p {
                    text-align: center;
                    margin: 0;
                    font-size: 18px;
                }

                .spStep_number {
                    @include flex();
                    margin-bottom: 11px;
                    width: 40px;
                    height: 40px;
                    background-color: $green;
                    border-radius: 50%;
                    line-height: 40px;
                    color: $white;
                }
            }
        }

        //步驟區塊END
    }

    //購物車內頁（想替換的內容）
    .spMain_bg {
        padding: 0 32px;

        //內頁標題
        .spMian_title {
            @include layout(1200);
            font-weight: 700;
            padding-bottom: 32px;
        }

        //廣告區（待套）
        .ad_box {
            .ad {
                height: 168px;
                background-color: cornsilk
            }
        }

        .spMain {
            margin: 0 auto;
            max-width: 1200px;
            @include flex(row, center, flex-start);
            gap: 32px;
            margin-bottom: 48px;

            button {
                outline: none;
                border: none;
            }

            //白底卡區塊(共）
            .spCard {
                background-color: $white;
                border-radius: $br_12;
                padding: 24px;
                margin-bottom: 28px;
                position: relative;

                //原checkbox隱藏（共）
                input[type="checkbox"] {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80%;
                    height: 65%;
                    margin: 0;
                    display: block;
                    z-index: 5;

                    //checkbox被選定（共）
                    &:checked+label::after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 6px;
                        width: 8px;
                        height: 14px;
                        border: solid $white;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg) translateY(-3px);
                    }

                    &:checked+label::before {
                        background-color: $purple;
                        border: none;
                    }
                }

                //產生新checkbox（共）
                label {
                    position: relative;
                    // line-height: 22px;
                    display: inline-flex;
                    align-items: center;
                    width: 368px;

                    &::before {
                        content: "";
                        background-color: transparent;
                        border: 1px solid #333;
                        display: block;
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                        border-radius: 3px;
                        margin-right: 24px;
                        flex-shrink: 0;
                    }

                    picture {
                        width: 100%;
                    }
                }


            }

            //左半
            .spMain_left {

                //白底卡區塊上半(sp共）
                .spCard_up {
                    display: flex;
                    gap: 20px;
                    padding-bottom: 32px;
                    border-bottom: 1px solid $gray_1;

                    .spBuy_text {
                        width: 100%;
                        // margin-left: 28px;

                        .spList_up {
                            @include flex(row, space-between);
                            margin-bottom: 16px;

                            h6 {
                                font-weight: 700;
                            }
                        }

                        .spList_down {
                            display: block;

                            p {
                                text-align: left;
                                margin-bottom: 4px;
                            }
                        }
                    }
                }

                //白底卡區塊下半(sp共）
                .spSubtotal {
                    padding-top: 32px;
                    text-align: end;
                    @include flex(row, end);

                    .spStepper {
                        @include flex();
                        gap: 4px;

                        input[type="text"] {
                            text-align: center;
                            width: 32px;
                        }

                        //數量增減
                        .spSubtotal_icon {
                            border: 1px solid $black;
                            width: 32px;
                            height: 32px;
                            border-radius: 50%;

                            //之後要改判斷式變色
                            &:first-child {
                                border: 1px solid $gray_1;
                            }

                            img {
                                width: 10px;
                                height: 10px;
                                transform: translate(10px, 10px);
                            }
                        }
                    }

                    //小計金額
                    p {
                        font-weight: 700;
                        font-size: 24px;
                        margin-left: 32px;
                    }
                }

                //訂購人資料(sp2)
                // .spOrderman {
                form {

                    //輸入框項目
                    p {
                        display: block;
                        margin-bottom: 4px;

                        //項目必填標示
                        span {
                            color: #D63900;
                        }
                    }

                    input[type="text"],
                    textarea {
                        width: 100%;
                        border: 1px solid $gray_1;
                        border-radius: $br_8;
                        padding: 0 12px;
                        margin-bottom: 24px;
                    }

                    textarea {
                        margin-bottom: 0;
                        outline: none;
                        resize: none;
                        padding: 6px;
                    }


                    .sameMember {
                        margin-bottom: 24px;
                        position: relative;


                    }
                }

            }

            //右半：總計
            .spMain_right {
                .spTotal {
                    @include flex(row, space-between);

                    p {
                        font-size: 18px;
                    }
                }

                .spNext {
                    // border: none;
                    // outline: none;
                    width: 100%;

                    ~div {
                        margin-top: 16px;
                        @include flex(row, flex-end);
                        gap: 8px;

                        span {
                            color: #D63900
                        }
                    }
                }
            }
        }
    }

    //sp2覆蓋共用
    .sp2 {
        .spMain {

            // margin: 0 auto;
            .spMain_left {
                .spPay {

                    @include flex(row, flex-start);

                    span {
                        margin-left: 32px;
                        @include flex(row, flex-start);
                        gap: 12px;

                        image {
                            display: inline-block;
                        }

                    }

                    // @include flex();
                    // }

                }

                //白底卡區塊(sp2共）
                .spCard {
                    margin-bottom: 48px;

                    form {

                        //同會員資料
                        .spOrder_check {
                            margin-bottom: 24px;

                            input[type="checkbox"] {
                                width: 20%;
                                top: 0;
                            }
                        }
                    }

                    //點數折抵
                    >p {
                        margin-left: 48px;

                        >span {
                            color: #D63900;
                        }

                        >input[type="text"] {
                            border: 1px solid $gray_1;
                            border-radius: $br_8;
                            padding: 4px 8px;
                            margin: auto 8px;
                            text-align: center;
                            color: #D63900;
                        }

                    }

                    //使用點數勾選
                    .spOrder_check {
                        position: relative;
                        @include flex(row, flex-start);

                        input[type="checkbox"] {
                            width: 33%;
                            height: 24px;
                        }

                        label {
                            margin-bottom: 6px;

                            // width: 100%;
                            &::before {
                                margin-right: 12px;
                            }

                        }

                    }

                    .creditCard {
                        @include flex(row, space-between);
                        margin-bottom: 24px;

                        //信用卡資訊細項
                        >div {
                            width: 192px;

                            //所有input
                            input {
                                margin: 0;
                            }

                            //輸入區塊
                            >div {
                                color: $textColor_l;
                                @include flex();
                                border: 1px solid $gray_1;
                                border-radius: $br_8;
                                padding: 0 5px;

                                input {
                                    border: none;
                                    padding: 0;
                                    text-align: center;
                                }
                            }

                            &:nth-child(2) {
                                input {
                                    width: 27px;
                                }

                            }

                            >div:last-child {
                                @include flex(row, flex-start);
                            }
                        }

                        ~p {
                            margin-left: 0;
                            font-size: 14px;
                            color: $textColor_m;
                        }
                    }

                }
            }

            .spMain_right {

                //與sp共用HTML架構
                .spBuy_text {
                    border-bottom: 1px solid $gray_1;
                    padding-bottom: 16px;
                    margin-bottom: 16px;

                    &:nth-last-child(-n+2) {
                        padding-bottom: 24px;
                    }

                    .spList_up {
                        margin-bottom: 16px;
                    }

                    .spList_down {
                        p {
                            margin-bottom: 4px;
                        }
                    }

                }

                //計算
                .spCount {
                    padding: 24px 0;

                    div {
                        @include flex(row, space-between);
                        margin-bottom: 16px;

                        p {
                            &:last-child {
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 1;

                            }

                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    ~.spTotal {
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }

    //sp3覆蓋共用
    .sp3 {
        .spMain {
            // max-width: 790px;
            // flex-direction: column;
            // align-items: center;
            // gap: 0;

            >div {
                // @include flex(column);

                // img {
                //     margin-bottom: 16px;
                // }

                // >p {
                //     display: block;
                //     padding: 32px 0;
                // }
            }

            // >.spCard {
            //     margin-bottom: 32px;

            //     >div {
            //         width: 100%;
            //         @include flex(row, space-between);

            //         p {
            //             // display: block;
            //         }
            //     }
            // }

            button {
                width: 375px;
            }

        }
    }

    //=============sp3
    .sp3 {
        .spMain {
            max-width: 790px;
            flex-direction: column;
            align-items: center;
            gap: 0;

            >div {
                @include flex(column);

                >p {
                    display: block;
                    padding: 32px 0;
                }
            }

            >.spCard {
                margin-bottom: 32px;
                width: 100%;

                ul {
                    width: 100%;

                    li {
                        background-color: $white;
                        border-radius: $br_12;
                        font-size: 18px;
                        font-weight: 500;
                        // width: 100%;
                    }

                }

                >div {
                    width: 100%;
                    @include flex(row, space-between);

                    p {
                        // display: block;
                    }
                }

                .ol-header {
                    font-weight: bold;
                    width: 100%;

                }

                .ol-content {

                    // display: none;
                    .ol-contentBox {
                        @include flex();
                        gap: 24px;

                        @media (max-width: 414px) {
                            img {
                                display: none;
                            }
                        }

                        .ol-ContText {
                            width: 100%;
                        }

                        .ol-info {
                            margin-top: 4px;
                            @include flex(row, space-between);

                        }
                    }
                }

                .ol-money {
                    border-top: 1px solid $gray_1;
                    border-bottom: 1px solid $gray_1;
                    padding: 24px 0;
                    text-align: end;
                }

                .ol-count {
                    @include flex(row, space-between);

                    span {
                        font-size: 24px;
                        font-weight: bold;
                    }
                }

                .ol-total {

                    .ol-count span {
                        font-size: 28px;
                    }

                    p:nth-child(2) {
                        @include flex(row, flex-end);
                        gap: 8px;

                        span {
                            color: #d63900;
                        }

                        img {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }



    @media screen and (max-width: 768px) {

        //全sp共用
        .spStep_bg {
            height: 93px;
            padding: 16px 0;

            .spStep_box .spStep {
                .spStep_number {
                    margin-bottom: 8px;

                    P {
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                    }
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .spMain_bg {
            padding: 0 32px;

            .spMian_title {
                padding-bottom: 24px;
            }

            .spMain {
                gap: 0;
                flex-wrap: wrap;
            }
        }

        //sp2
        .sp2 .spMain {
            .spMain_left {
                h5 {
                    margin-bottom: 24px;
                }

                .spCard {
                    margin-bottom: 32px;

                    form {
                        input[type="text"] {
                            margin-bottom: 16px;
                        }

                        .spOrder_check {
                            margin-bottom: 16px;

                            label {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .creditCard {
                        flex-direction: column;

                        >div {
                            width: 100%;

                            input[type="text"] {
                                margin-bottom: 0;
                            }
                        }

                    }

                }

                .spPay {
                    flex-direction: column;
                    align-items: flex-start;

                    span {
                        margin-left: 0;
                    }

                }
            }
        }
    }

    @media screen and (max-width: 414px) {
        .spStep_bg {
            padding: 16px;
        }

        .spMain_bg {
            padding: 0 16px;

            .spMain {

                .spDriver,
                .spHostel {
                    .spCard_up {
                        flex-wrap: wrap;
                        gap: 16px;
                        padding-bottom: 24px;

                        input[type=checkbox] {
                            width: 100%;

                            &:checked+label::after {
                                top: 5px;
                            }
                        }

                        label {
                            display: block;
                            width: 100%;
                            margin: 0 auto;

                            &::before {
                                margin-bottom: 16px;
                            }
                        }

                        .spBuy_text {
                            width: 100%;
                            margin-left: 0;

                            .spList_up {
                                margin-bottom: 8px;
                            }

                            .spList_down {
                                p {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    .spSubtotal {
                        padding-top: 16px;
                    }
                }

                .spHostel {
                    .spSubtotal {
                        justify-content: space-between;
                    }
                }
            }
        }
    }



}