// 購物車
.shopping {

    .shopping_container {
        margin: 0 auto;
        max-width: 1200px;
        @include flex();
        height: 167px;

        //步驟塊
        .shipping_step_box {
            @include flex(row, space-between);

            .shipping_step {
                p {
                    text-align: center;
                    margin: 0;
                    margin-top: 8px;
                    line-height: 1.1;
                    font-size: 18px;
                }

                .shipping_step_number {
                    @include flex();
                    margin-bottom: 11px;

                    p {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background-color: $green;
                        border-radius: 50%;
                        line-height: 40px;
                        color: $white;
                    }
                }
            }
        }
    }

    //購物車內頁（想替換的內容）
    .shopping_main_bg {
        @include layout(100);
        background-color: $gray_2;
        padding-top: 80px;

        .shopping_mian_title {
            @include layout(1200);
            font-weight: 700;
        }

        //廣告區（待套）
        .ad_box {
            @include layout(1200);
            font-weight: 700;
            padding: 48px 0 80px;

            .ad {
                height: 168px;
                background-color: cornsilk
            }
        }

        .shopping_main {
            @include layout(1200);
            @include flex(row, space-between);
            gap: 32px;
            margin-bottom: 48px;

            //白底區塊
            .shopping_card {
                background-color: $white;
                border-radius: $br_12;
                padding: 24px;
                margin-bottom: 27px;
                position: relative;
                // display: flex;
                // gap: 20px;
                // flex-wrap: wrap;

                //所有checkbox
                input[type="checkbox"] {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80%;
                    height: 100%;
                    margin: 0;
                    display: block;
                    z-index: 5;

                    //所有checkbox被選定
                    &:checked+label::after {
                        content: "";
                        display: block;
                        position: absolute;
                        // top: 3px;
                        left: 7px;
                        width: 10px;
                        height: 14px;
                        border: solid #0079bf;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg) translateY(-2px);
                    }
                }

                label {
                    position: relative;
                    line-height: 22px;
                    display: inline-flex;
                    align-items: center;

                    &::before {
                        content: "";
                        // -webkit-appearance: none;
                        background-color: transparent;
                        border: 1px solid #333;
                        display: block;
                        width: 24px;
                        height: 24px;
                        // vertical-align: middle;
                        cursor: pointer;
                        border-radius: 2px;
                        margin-right: 12px;
                        flex-shrink: 0;
                    }
                }

                .shopping_card_up {
                    display: flex;
                    gap: 20px;
                    padding-bottom: 32px;
                    border-bottom: 1px solid $gray_1;
                }

                .shopping_subtotal {
                    padding-top: 32px;
                }
            }




            //左半
            .shopping_main_left {
                .shopping_buy_text {
                    width: 100%;

                    .shopping_list_up {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 16px;

                        h6 {
                            font-weight: 700;
                        }
                    }

                    .shopping_list_down {
                        display: flex;
                        gap: 10px;
                        text-align: center;
                        align-items: center;
                        flex-wrap: wrap;

                        p {
                            text-align: left;


                        }
                    }
                }
                .shopping_driver{
                    .shopping_list_down{
                        p{
                            &:first-child {
                                &::after {
                                    content: "|";
                                    position: absolute;
                                    transform: translate(10px, -1px);
                                }
                            }
                        }
                    }
                }
                .shopping_hostel{
                    .shopping_list_down{
                        p{
                            &:first-child {
                                &::after {
                                    content: "-";
                                    position: absolute;
                                    transform: translate(8px, -1px);
                                }
                            }
                        }
                    }
                }

                // .shopping_buy_list {
                //     display: flex;
                //     gap: 24px;

                //     img {
                //         border-radius: $br_8;
                //     }
                // }





                .shopping_list {}


                .shopping_list_d {
                    margin-bottom: 4px;

                    div {
                        display: inline-block;
                    }

                    .driver_date::after {
                        content: "|";
                        padding: 0 5px 0 10px;
                    }

                    .hostel_start::after {
                        content: "-";
                        padding-left: 5px;
                        // padding: 0 0 0 5px;
                    }

                    .hostel_day {
                        padding-left: 5px;
                    }
                }

                .shopping_list_t {
                    div {
                        display: inline-block;
                    }

                    .shopping_list_type2::before {
                        content: "|";
                        padding: 0 5px 0 10px;
                    }

                    //之後要改用ＪＳ判斷
                    .shopping_list_type2:last-child::before {
                        content: "";
                    }
                }

                // }

                .shopping_list_line {
                    background-color: $gray_1;
                    height: 1px;
                    margin: $mb_32 0;
                }

                .shopping_subtotal {
                    text-align: end;
                    font-weight: 700;
                    line-height: 1.25;
                    font-size: 24px;
                    display: flex;
                    justify-content: end;
                    align-items: center;

                    .stepper {
                        background-color: burlywood;
                        display: flex;
                        justify-content: space-between;

                        .stepper_button {
                            border: none;
                            padding: 0;
                            width: 32px;

                            img {
                                // width: 100%;
                            }
                        }

                        .stepper_input {
                            border: none;
                            width: 100%;
                            text-align: center;
                            outline: none;
                            font-size: 16px;
                        }
                    }

                    .number {}
                }

                // }

                .shopping_card:last-child {
                    margin-bottom: 0;
                }

                .shopping_driver {}

                .shopping_subtotal {}
            }

            .shopping_main_right {

                // background-color: pink;
                .shopping_order_total {
                    display: flex;
                    justify-content: space-between;

                    // margin-bottom: $mb_32;
                    .sum_num {
                        font-size: 18px;
                    }

                    .sum_money {
                        font-size: 28px;
                        line-height: 30px;
                        font-weight: 700;
                    }
                }

                .shopping_next {
                    background-color: $purple;
                    display: block;
                    width: 100%;
                    border: none;
                    outline: none;
                    color: $white;
                    padding: 18px 27px;
                    border-radius: $br_8;
                }

            }



        }
    }

}