$m: 414px; //手機版斷點
$t: 768px; //平板版斷點
$br_8: 8px; //圓角:按鈕、輸入框
$br_12: 12px; //圓角:卡片、彈窗、照片
$mb_100: 100px; //margin-bottom 桌機區塊間距
$mb_60: 60px; //margin-bottom 平板／手機 區塊間距
$mb_40: 40px; //margin-bottom
$mb_32: 32px; //margin-bottom
$mb_28: 28px; //margin-bottom

$btn: (
  btn_7: 76px,
  btn_5: 58px,
  btn_4: 40px,
);
