$h1 : 60px; //
$h2 : 44px; //
$h3 : 40px; //
$h4 : 36px; //
$h5 : 28px; //
$h6 : 20px; //
$fontsize : 16px; //
$fontfamily : 'Poppins', 'Noto Sans TC', sans-serif; //英文(先)
$line_height : 1.6; //


$title_size : (
    h1 : 60px,
    h2 : 44px,
    h3 : 40px,
    h4 : 36px,
    h5 : 28px,
    h6 : 20px
    );
$title_size_t : (
    h1 : 40px,
    h2 : 40px,
    h4 : 24px,
    h5 : 24px
    );

$title_size_m : (
    h2 : 28px);




$font_styles: (
  "h1": (
    "font-size": 60px,
    "font-weight": 700
  ),
  "h2": (
    "font-size": 44px,
    "font-weight": 700
  ),
  "h3": (
    "font-size": 40px,
    "font-weight": 700
  ),
  "h4": (
    "font-size": 36px,
    "font-weight": 700
  ),
  "h5": (
    "font-size": 28px,
    "font-weight": 700
  ),
  "h6": (
    "font-size": 20px,
    "font-weight": 700
  )
);

$font_styles_t: (
  "h1": (
    "font-size": 40px,
    "font-weight": 700
  ),
  "h2": (
    "font-size": 40px,
    "font-weight": 700
  ),
  "h4": (
    "font-size": 24px,
    "font-weight": 700
  ),
  "h5": (
    "font-size": 24px,
    "font-weight": 700
  )
);
$font_styles_m: (
  "h2": (
    "font-size": 28px,
    "font-weight": 700
  )
);
    