// grid
@mixin grid($num, $r: null) {
  @for $j from 1 through $num {
    .col-#{$r}#{$j} {
      width: calc($j / $num) * 100%;
    }
  }
}

// layout
@mixin layout($layout) {
  @if $layout == 100 {
    width: $layout * 1%;
  } @else if $layout < 100 {
    width: $layout * 1%;
    margin: auto;
  } @else {
    width: $layout + px;
    margin: auto;
  }
}

// btn
@mixin btn($btn) {
  @each $k, $v in $btn {
    .#{$k} {
      height: $v;
      background-color: $purple;
      color: $white;
      @include btn_set();
      @include flex();
    }
    .#{$k}_border {
      height: $v;
      color: $black;
      @include btn_set();
      @include flex();
      border: 1px solid #333;
    }
  }
}

// 按鈕基本值
@mixin btn_set() {
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}

// 間距
@mixin space($spacing) {
  @each $k, $v in $spacing {
    .#{$k} {
      margin-bottom: $v;
      @content;
    }
  }
}

// 字體顏色
@mixin font_color($color) {
  @each $k, $val in $color {
    .#{$k}-font {
      color: $val;
    }
  }
}
// flex
@mixin flex($d: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $d;
  justify-content: $jc;
  align-items: $ai;
}

// RWD 手機
@mixin m() {
  @media screen and (max-width: $m) {
    @content;
  }
}

// RWD 平板
@mixin t() {
  @media screen and (max-width: $t) {
    @content;
  }
}

//標題大小
@mixin titleSize($c) {
  @each $key, $value in $c {
    #{$key} {
      font-size: $value;
    }
  }
}

@mixin titleStyle($c) {
  @each $a, $b in $c {
    #{$a} {
      @each $d, $value in $b {
        #{$d}: $value;
      }
    }
  }
}
